<template>
  <div class="footer">
    <div class="container">
      <div class="contacts">
        <h4>
          Contacnt Us
        </h4>
        <span>
          <i class="fas fa-map-marker-alt">
          </i>
          Adress streets City
        </span>
        <span>
          <i class="fas fa-phone">
          </i>
          Tel. +(123) 1800-567-8990
        </span>
        <span>
          <i class="fas fa-envelope">
          </i>
          your.mail@domains.com
        </span>
      </div>
      <div class="links">
        <h4>
          Menu
        </h4>
        <div class="pages">
          <router-link :to="{name:'Home'}">
            Home
          </router-link>
          <router-link :to="{name:'About'}">
            About
          </router-link>
          <router-link :to="{name:'Contacts'}">
            Contacts
          </router-link>
          <router-link :to="{name:'Estates'}">
            Estates
          </router-link>
        </div>
      </div>
      <div class="social">
        <h4>
          Social
        </h4>
        <a ref="#">
          <i class="fab fa-facebook">
          </i>
        </a>
        <a ref="#">
          <i class="fab fa-twitter">
          </i>
        </a>
        <a ref="#">
          <i class="fab fa-instagram">
          </i>
        </a>
        <a ref="#">
          <i class="fab fa-linkedin-in">
          </i>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Footing'
  }
</script>
