<template>
  <div class="header">
    <div class="container">
      <router-link
      :to="{name:'Home'}"
      >
      <div class="logo">
        <div class="image-wrap">
          <div class="image">
          </div>
        </div>
        <h2>
          Real Estate Agency
        </h2>
      </div>
      </router-link>
      <div :class="['nav-bar', {active: isShowMenu,}]">
        <router-link
          v-for="link in menuLinks"
          :key="link"
          :to="{name: link}"
        >
          <span @click="(isShowMenu = !isShowMenu)">
            {{link}}
          </span>
        </router-link>
      </div>
      <div class="nav-menu">
        <i
          class="fas fa-bars"
          @click="(isShowMenu = !isShowMenu)">
        </i>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name:'Navigation',

    data () {
      return {
        menuLinks:['Home', 'About', 'Contacts', 'Estates'],
        isShowMenu: false
      }
    }
  }
</script>

<style>

</style>
