<template>
  <div>
    <Header />
    <MovieList />
  </div>
</template>

<script>
  import Header from '../../components/Header.vue'
  import MovieList from '../../components/MovieList.vue'

  export default {
    components: {
      Header,
      MovieList
    }
  }
</script>

<style>
  h1 {
    color: white;
    margin: 0 auto;
    padding:40px 0;
    border-bottom: 1px solid white;
  }
</style>
