<template>
  <router-link
    :to="{
      name: 'EstatePage',
      params: {
        id: estateItem.id
      }
    }">
    <div class="estate-item">
      <div class="image-wrap">
        <div
          class="image"
          :style="{'background-image': `url('${require(`@/assets/img/${estateItem.image}`)}')`}"  
        >
        </div>
      </div>
      <span class="price">
        {{estateItem.price}}
      </span>
      <span class="location">
        Ukraine, {{estateItem.location}}, {{estateItem.address}}
      </span>
      <span class="area">
        {{estateItem.area}} m2
      </span>
  </div>
  </router-link>
</template>

<script>
  export default {
    name: 'EstateListItem',
    props: {
      estateItem: {
        type: Object,
        required: true
      }
    }
  }
</script>