<template>
  <div class="estates-wrap">
    <div
      class="estate-list"
      v-if="estates.length"
    >
      <EstateListItem
        v-for="estate in estates"
        :key="estate.id"
        :estateItem="estate"
      />
    </div>
    <div
      class="empty-estates"
      v-else
    >
      <h1>
        Sorry, looks like there aren't any homes
      </h1>
      <h1>
        matching your search
      </h1>
      <p>
        Try to modify your search or clear filters to find more homes.
      </p>
    </div>
  </div>
</template>

<script>
import EstateListItem from './EstateListItem.vue';
import { mapState } from 'vuex';

  export default {
    name: 'EstatesList',

    components: {
      EstateListItem,
    },

    computed: mapState({
      estates: state=> state.estates.estates,
      filters: state=> state.filters.filters
    }),

    created () {
      if (Object.keys(this.$route.query).length) {
        this.$store.dispatch('fillRequestsFromQuery', this.$route.query)
      }
      this.$store.dispatch('renderEstatesList', this.filters)
    } 
  }
</script>