<template>
  <div class="filters">
    <div
      class="filter-header"
      @click="toggleIsShowFilter"
    >
      <h3>
        Filters
      </h3>
    </div>
    <div
      :class="[{active: isShowFilter}, 'filter-bar']"  
    >
      <SampleFilter 
        @add-filter="addFilter"
        @clear-filter="clearFilters"
        heder="Location:"
        filteredBy="location"
      />
      <SampleFilter
        @add-filter="addFilter"
        @clear-filter="clearFilters"
        heder="Any price ($):"
        :stepOfRange="10000"
        filteredBy="price"
      />
      <SampleFilter
        @add-filter="addFilter"
        @clear-filter="clearFilters"
        heder="Any property area (m2):"
        filteredBy="area"
      />
      <div class="filter-item">
        <button
          :class="[{'go-back-disabled' : !$route.params.id}, 'go-back']"
          @click="goBack"
        >
          <i class="fa-solid fa-angle-left">
          </i>
          GO BACK
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import SampleFilter from './SampleFilter.vue'
  

  export default {
    name: 'Filters',

    components: {
      SampleFilter
    },

    data () {
      return {
        isShowFilter: false
      }
    },

    methods:{
      goBack () {
        if (this.$route.params.id) {
          return this.$router.go(-1)
        }        
      },

      addFilter(array) {
        this.$store.dispatch('addEventFilter', array)
      },

      clearFilters (filter) {
        this.$store.dispatch('clearFilter', filter)
      },

      toggleIsShowFilter () {
        this.isShowFilter = !this.isShowFilter
      }
    }
  }
</script>