<template>
  <div class="filter-item">
    <div class="input-row">
      <label>
        {{heder}}
      </label>
      <Slider
        v-if="(filteredBy == 'price') || (filteredBy == 'area') || (!value[0] == false)"
        :value="value"
        :min="minValue"
        :max="maxValue"
        :step="stepOfRange"
        :lazy="false"
        :tooltips="false"
        @input="toggleIsDisabledSubmit"
        ref="slider"
      />
      <select
        v-else-if="(filteredBy == 'location')"
        id="location"
        v-model="locationValue"
        @change="toggleIsDisabledSubmit"
      >
        <option
          v-for="location in locations.locations"
          :key="location"
          :value="location"
        >
          {{location}}
        </option>
      </select>
      <div 
        class="value-block"
        v-if="(filteredBy == 'price') || (filteredBy == 'area')"> 
        <span>
          Min {{filteredBy}}:
        </span>
        <span >
          Max {{filteredBy}}:
        </span>
      </div>
      <div 
        class="value-block"
        v-if="(filteredBy == 'price') || (filteredBy == 'area')"> 
        <span class="value">
          {{value[0]}}
        </span>
        <span class="value">
          {{value[1]}}
        </span>
      </div>
    </div>
    <div
      class="btn-row"
      :class="(filteredBy == 'location' ? 'btn-row-location' : 'btn-row')"
    >
      <button
        class="reset"
        @click="clearFilter"
        :class="{disabled: isDisabledReset}"
        >
        Clear
      </button>
      <button
        class="submit"
        @click="addFilter"
        :class="{disabled: isDisabledSubmit}"
      >
        Submit
      </button>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import VueCompositionAPI from '@vue/composition-api'

  Vue.use(VueCompositionAPI)

  import Slider from '@vueform/slider/dist/slider.vue2.js'
  import axios from '../../axios-requests/axios.js'
  import { mapState } from 'vuex'

  export default {
    name: 'SampleFilter',

    props: {
      heder: {
        type: String
      },
      filteredBy: {
        type: String,
        required: true
      },
      stepOfRange: {
        type: Number,
      }
    },

    components: {
      Slider,
    },

    data  () {
      return {
        isDisabledSubmit: true,
        isDisabledReset: true,
        value:['', ''],
        locationValue: null,
      }
    },

    methods: {
      putInitialValue () {
        if (this.filteredBy === 'price') {
          if (this.$route.query.price_gte) {
            this.value[0] = this.$route.query.price_gte
          } else {
            this.value[0] = this.minValue
          }

          if (this.$route.query.price_lte) {
            this.value[1] = this.$route.query.price_lte
          } else {
            this.value[1] = this.maxValue
          }

          let initialValue = [this.$route.query.price_gte, this.$route.query.price_lte]
          if (this.value.join('') == initialValue.join('')) {
            this.isDisabledReset = false        
          }
        } else if (this.filteredBy === 'area') {
          if (this.$route.query.area_gte) {
            this.value[0] = this.$route.query.area_gte
          } else {
            this.value[0] = this.minValue
          }

          if (this.$route.query.area_lte) {
            this.value[1] = this.$route.query.area_lte
          } else {
            this.value[1] = this.maxValue
          }

          let initialValue = [this.$route.query.area_gte, this.$route.query.area_lte]
          if (this.value.join('') == initialValue.join('')) {
            this.isDisabledReset = false
          }
        } else if (this.filteredBy === 'location') {
          if (this.$route.query.location) {
            this.locationValue = this.$route.query.location
          }
        }
      },
      
      async getResponse () {
        try {
          let response = null

          if (this.filteredBy === 'location') {
            response = await axios.getList('locations')
            this.$store.dispatch('createLocationList', response.data)
          } else if (this.filteredBy === 'price') {
            response = await axios.getList('priceList')
            this.$store.dispatch('createPriceList', response.data)
          } else if (this.filteredBy === 'area') {
            response = await axios.getList('areas')
            this.$store.dispatch('renderAreaList', response.data)
          }
          this.putInitialValue ()
        } catch (error) {
          if (error.status === 404) {
            this.$router.push('/404')
          } else {
            console.log(`Error has been declared ${error}`)
          }
        }
      },

      addFilter () {
        if (!this.isDisabledSubmit) {
          if (this.filteredBy === 'location') {
          this.$emit('add-filter', [{location: this.locationValue}])  
          } else {
          this.$emit('add-filter', [{[this.filteredBy +'_gte']: this.value[0]}, {[this.filteredBy +'_lte']: this.value[1]}])
          }
          this.isDisabledSubmit = true
          this.isDisabledReset = false
        }
      },

      clearFilter() {
        if (!this.isDisabledReset) {
          if (this.filteredBy === 'location') {
          this.locationValue = null
        } else {
          this.$refs.slider.reset()
          this.isDisabledReset = true 
          this.value[0] = this.minValue
          this.value[1] = this.maxValue
        }
        this.$emit('clear-filter', this.filteredBy)
        this.isDisabledReset = true
        }
      },

      toggleIsDisabledSubmit (val) {
        this.value = val
        if (this.filteredBy !== 'location') {
          let initialValue = [this.minValue, this.maxValue]
          if (this.value.join('') == initialValue.join('')) {
            this.disabledSubmit = true
          } else {
            this.isDisabledSubmit = false         
          }
        } else {
           if (this.locationValue === this.$route.query.location) {
            this.isDisabledSubmit = true
          } else {
            this.isDisabledSubmit = false         
          }
        }
        
      }
    },

    computed: {
      minValue () {
        if (this.filteredBy === 'price') {
          return this.$store.getters.sortPriceList[0]
        } else {
          return this.$store.getters.sortAreaList[0]
        }    
      },

      maxValue () {
        if (this.filteredBy === 'price') {
         return this.$store.getters.sortPriceList[this.$store.getters.sortPriceList.length-1]
        } else {
          return this.$store.getters.sortAreaList[this.$store.getters.sortAreaList.length-1]
        }
      },

      ...mapState(['price', 'areas', 'locations']),
    },
      
      created () {
        if (this.filteredBy === 'location') {
          if (this.$route.query.location) {
          this.isDisabledReset = false
          }
        }
        this.getResponse()
      }
  }
</script>

<style src="@vueform/slider/themes/default.css"></style>

<style scoped>

</style>