<template>
  <div id="app">
    <router-link :to="{name: 'movies'}"></router-link>
    <router-view 
      :key="$route.path"
    >
    </router-view>
  </div>
</template>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  body {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #2F4F4F;
  }
</style>
