<template>
  <div class="home">
    <HomePageMainSection />
    <HomePageMiddleSection />
    <HomePageDreamHouse />
    <HomePageFooterSection />
  </div>
</template>

<script>

import HomePageMainSection from '../../components/home-page/HomePageMainSection.vue';
import HomePageDreamHouse from '../../components/home-page/HomePageDreamHouse.vue';
import HomePageMiddleSection from '../../components/home-page/HomePageMiddleSection.vue';
import HomePageFooterSection from '../../components/home-page/HomePageFooterSection.vue'

export default {
  name: "Home",
  components: {
    HomePageMainSection,
    HomePageDreamHouse,
    HomePageMiddleSection,
    HomePageFooterSection
  },
};
</script>

<style scoped>

</style>