.not-found {
  width: 100%;
  height: 77.7vh;
  background-image: url(../img/404.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  h1 {
    color: $light-color;
    font-size: 80px;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba($color: black, $alpha: 0.5);
  }
}