.about {
  max-width: $page-width;
  text-align: center;
  h1 {
    font-size: 80px;
  }

  p {
    padding: 30px 0 50px;
    font-size: 18px;
    width: 50%;
    margin: 0 auto;
  }

  background-image: url(../img/about-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .container {
    background-color: rgba($color: black, $alpha: 0.5);
    padding-top: 200px;
    text-align: center;
    color: $light-color;
  }
}