.contacts-section {
  max-width: $page-width;
  text-align: center;
  color: $light-color;
  background-image: url(../img/contacts.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    font-size: 80px;
  }

  .container {
    padding-top: 200px;
    background-color: rgba($color: black, $alpha: 0.5);
  
    .form {
      width: 550px;
      margin: 20px auto 0;
      padding: 20px;
      box-sizing: border-box;
      border: 1px solid $light-color;
      background-color: rgba($color: $light-color, $alpha: 0.2);
      border-radius: 12px;

      label {
        display: block;
        padding-bottom: 10px;
        font-size: 18px;
      }

      input {
        display: block;
        margin: 0 auto 30px;
        padding-left: 20px;
        width: 100%;
        height: 50px;
        border-radius: 8px;
        box-sizing: border-box;
      }

      button{
        padding: 10px 20px;
        background-color: $light-color;
        color: $dark-color;
        border: none;
        border-radius: 8px;
        transition: 0.2s ease-in;
        font-size: 18px;
        cursor: pointer;

        &:hover {
          background-color: $secondary-color;
          color: $light-color
        }
      }
    }

    .contact-info {
      display: flex;
      gap: 20px;
      justify-content: center;
      text-align: center;
      padding: 40px 0px;

      span {
        font-size: 18px;

        &:first-of-type {
          color: $secondary-color;
          font-weight: bold;
          margin-right: 5px;
        }
      }
    }
  }
}