.estates-wrap {
  max-width: $page-width;
  margin: 0 auto;

  .estate-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0px 0 50px;
    background-color: $primary-color;
    color: $light-color;

    a {
      text-decoration: none;
      color: $light-color;
    }
  
    .estate-item {
      padding: 30px;
      background-color: rgba($color: $light-color, $alpha: 0.2);
      border-radius: 12px;
      transition: 0.2s ease-in;
      cursor: pointer;
  
      &:hover {
        transform: scale(1.02);
        box-shadow: 5px 5px 10px rgba($color: black, $alpha: 0.5);
  
        .image {
          transform: scale(1.1);
        }
  
        span {
          color: $secondary-color;
        }
      }
  
      .image-wrap {
        width: 300px;
        height: 300px;
        border-radius: 12px;
        overflow: hidden;
    
        .image {
          width: 100%;
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          transition: 0.2s ease-in;
        }
      }
  
      span {
        display: block;
        transition: 0.2s ease-in;
        padding-top: 10px;
  
        &:first-of-type {
          padding-top: 20px;
        }
      }
    }
  }

  .empty-estates {
    width: 100%;
    height: 77.7vh;
    background-image: url(../img/404.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    h1 {
      color: $light-color;
      font-size: 50px;
      z-index: 2;
    }

    p {
      color:$light-color;
      font-size: 20px;
      z-index: 2
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba($color: black, $alpha: 0.5);
    }
  }
}