.current-estate {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 50px 0 50px;
  position: relative;

  .container {
    max-width: 1400px;
    margin: 0 auto;
  
    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba($color: black, $alpha: 0.5);
    }
  
    .image-row {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
    }
  
    .estate-wrap {
      width: 400px;
      height: 400px;
      border-radius: 12px;
      overflow: hidden;
      z-index: 3;
      cursor: pointer;
    
      .estate-block {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.2s ease-in;
      }
    }
  
    .info {
      width: 80%;
      background-color: $primary-color;
      z-index: 3;
      position: relative;
      text-align: center;
      margin: 50px auto 0;
      border-radius: 12px;
      span {
        color: $light-color;
        font-size: 30px;
        font-weight: bold;
        display: block;
        padding-top: 10px;
  
        &:first-of-type {
          padding-top: 30px;
        }
  
        &:last-of-type {
          padding-bottom: 30px;
        }
      }
    }
  }
}