.filters {

  .filter-header {
    display: none;
    height: 50px;
    background-color: $dark-color;
    color: $light-color;
  }

  .filter-bar {
    padding: 150px 25px 50px;
    background-color: $primary-color;
    color: $light-color;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;

    .go-back {
      font-size: 20px;
      width: 100%;
      height: 100%;
      background-color: transparent;
      color: $secondary-color;
      border: none;
      border-radius: 8px;
      transition: 0.2s ease-in;
      cursor: pointer;
      position: relative;
      z-index: 3;
      display: block;
  
      &:hover {
        color: $light-color
      }
    }

    .go-back-disabled {
      color: $disabled-color;
      cursor: initial;

      &:hover {
        color: $disabled-color;
      }
    }
  
    .slider-filter {
      width: 400px;
    }
  
    .filter-item {
      height: 210px;
      padding: 20px 40px 0;
      position: relative;
      border-radius: 12px;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background-color: rgba($color: white, $alpha: 0.2);
        border-radius: 12px;
      }
  
      .input-row {
        text-align: center;
        position: relative;
  
        .value-block {
          display: flex;
          justify-content: space-between;
          padding-top: 5px;
  
          span {
            padding-top: 15px;
          }
  
          .value {
            display: inline-block;
            color: $light-color;
            padding: 5px 10px;
          }
        }
  
        label {
          display: block;
          padding-bottom: 10px;
        }
  
        select {
          width: 100%;
          padding: 5px 0;
          cursor: pointer;
          transition: 0.1s ease-in;
          font-size: 18px;
        
          &:hover {
            box-shadow: 0px 0px 3px 2px black;
          }
        }
      }
  
      .btn-row {
        padding-top: 20px;
  
        &-location {
          padding-top: 68px;
        }
  
        button {
          padding: 5px 15px;
          background-color: $secondary-color;
          color: $light-color;
          border: none;
          border-radius: 8px;
          transition: 0.2s ease-in;
          font-size: 18px;
          cursor: pointer;
          margin: 0 auto;
          position: relative;
          z-index: 3;
  
          &:hover {
            background-color: $light-color;
            color: $dark-color;
          }
  
          &:first-of-type {
            margin-right: 30px;
          }
        }
  
        .disabled {
          cursor: initial;
          background-color: $disabled-color;
          color: $dark-color;
  
          &:hover {
            background-color: $disabled-color;
            color: $dark-color;
          }
        }
        
      }
    }
  }
}