.footer {
  background-color: $dark-color;
  width: 100%;
  .container {
    color: $light-color;
    margin: 0 auto;
    padding: 40px 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    max-width: 1400px;

  h4 {
    text-align: center;
  }

  .contacts {
    span {
      display: block;
      margin-top: 15px;
    }

    i {
      color: $secondary-color;
      margin-right: 20px;
    }
  }

  .pages {
    display: flex;
    gap: 10px;
    padding-top: 15px;
    
    a {
      text-decoration: none;
      color: $light-color;
      transition: 0.2s ease-in;
      margin-left: 20px;
      
      &:hover {
        color: $secondary-color;
      }
    }
  }

  .social {
    a {
      display: inline-block;
      font-size: 20px;
      margin-left: 20px;
      margin-top: 15px;
      transition: 0.2s ease-in;
      cursor: pointer;

      &:first-of-type {
        margin-left: 0;
      }

      &:hover {
        color: $secondary-color;
      }
    }
  }
  }
}