.header {
  background-color: $dark-color;
  position: fixed;
  z-index: 4;
  width: 100%;

  .container {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $light-color;
  padding: 15px 25px;
  max-width: 1400px;
  width: 100%;

    a {
      color: $light-color;
      text-decoration: none;
    }

  .nav-bar {
    display: flex;
    gap: 15px;
    
    a {
      color: $light-color;
      text-decoration: none;
      font-size: 20px;
      transition: 0.2s ease-in;

      &:first-of-type {
        margin-left: 0;
      }

      &:hover {
        color: $secondary-color;
      }
    }
  }

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      transition: 0.2s ease-in;
      cursor: pointer;

      &:hover {
        color: $secondary-color;
      }

      .image-wrap {
        width: 80px;
        height: 70px;
      }

      .image {
        width: 100%;
        height: 100%;
        background-image: url(../img/real-estate-logo.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      } 
    }

    .nav-menu {
      display: none;

      i {
        font-size: 30px;
        cursor: pointer;
        transition: 0.2s ease-in;
    
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}