.home {
  max-width: $page-width;

  h1 {
    font-size: 80px;
    position: relative;
    z-index: 1;
  }

  .main-section {
    padding: 350px 30px 250px;
    background-color: $primary-color;
    color: $light-color;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 80%;
      height: 75%;
      background-image: url(../img/home-main-img.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      right: 30px;
      bottom: -15px;
      box-shadow: 5px 5px 20px black;
    }
  
    .main-text {
      display: inline-block;
      position: absolute;
      z-index: 1;
      width: 30%;
      left: 65%;
      font-size: 18px;
      top: calc(100% - 210px);
    }
  }

  .dream-house {
    background-color: $light-color;
    padding: 240px 0 150px;
    .container {
      text-align: center;
      position: relative;
  
      &::before {
        content: "";
        width: 60%;
        height: 300px;
        background-color: $primary-color;
        position: absolute;
        left: 0%;
        top: 12%;
      }

      &::after {
        content: "";
        width: 60%;
        height: 500px;
        background-color: $secondary-color;
        position: absolute;
        right: 0%;
        top: 40%;
      }
  
      .main-image {
        background-image: url(../img/dream-house-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 45%;
        height: 600px;
        margin: 0 auto;
        margin-top: 50px;
        position: relative;
        z-index: 2;
      }
    }

    .info-wrap {
      width: 40%;
      position: absolute;
      z-index: 3;
      background-color: $light-color;
      top: 55%;
      left: 50%;
      box-shadow: 5px 5px 20px black;

      .info {
        margin: 20px;
        padding: 10px;
        border: 1px solid $dark-color;

        h3 {
          color: $secondary-color;
          font-size: 34px;
          margin-top: 20px;

          &:last-of-type {
            margin-top: 10px;
            margin-bottom: 40px;
          }
        }

        p {
          font-size: 18px;
          font-style: italic;
          margin: 0;
        }

        a {
          display: inline-block;
          text-decoration: none;
          transition: 0.2s ease-in;
          padding: 30px 0 20px;

          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }

  .middle-section {
    position: relative;

    .container {
      display: flex;
      justify-content: center;
      gap: 10px;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);

      &::before {
        content: "";
        width: calc(100% - 40px);
        height: 210px;
        background-color: $secondary-color;
        position: absolute;
        left: 70px;
        top: -30px;
      }
  
      .image-item {
        width: 250px;
        height: 150px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;


        &:first-of-type {
          background-image: url(../img/home-main-2.jpg);
        }
    
        &:nth-of-type(2) {
          background-image: url(../img/home-main-3.jpg);
        }
    
        &:last-of-type {
          background-image: url(../img/home-main-4.jpg);
        }
      }
    }
  }

  .footer-section {
    background-color: $secondary-color;
    text-align: center;
    color: $light-color;

    h3 {
      color: $light-color;
      font-size: 34px;
      padding: 50px 0 30px;
    }

    p {
      margin: 0;
      font-size: 18px;

      &:last-of-type {
        margin-top: 10px;
      }
    }

    button {
      margin: 30px 0;
      padding: 10px 20px;
      background-color: $light-color;
      border: none;
      border-radius: 8px;
      transition: 0.2s ease-in;

      &:hover {
        background-color: $dark-color;
      }

      &:hover a {
        color: $light-color;
      }

      a {
        font-size: 18px;
        text-decoration: none;
        color: $dark-color;
      }
    }

  }
}