@media(max-width: 1220px) {
  .filters {

    .filter-bar {
      flex-wrap: wrap;
      gap:10px;
    }
  }
}

@media(max-width: 992px) {
  .pages {
    flex-direction: column;
    gap: 15px;
  }

  .home {
    .main-section {
      padding: 150px 30px 50px;
      background-image: url(../img/home-main-img.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: $light-color;
      position: static;
      text-align: center;
  
      &::before {
        content: none;
      }

      .main-text {
        display: inline-block;
        position: static;
        width: 100%;
        font-size: 18px;
      }
    }

    .dream-house {
      padding: 200px 0 50px;

      .container {
        &::before {
          height: 400px;
          top: 9%;
        }
  
        &::after {
          height: 600px;
        }
    
        .main-image {
          width: 500px;
          height: 500px;
        }
        
        .info-wrap {
          width: 500px;
          position: relative;
          margin: 0 auto;
          left:0;
          box-shadow: 5px 5px 20px black;

          .info {
            margin: 0px;
            padding: 20px;
            border: 1px solid $dark-color;
          }
        }
      }
    }

    .middle-section {
      position: relative;
  
      .container {
        display: flex;
        justify-content: center;
        gap: 10px;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
  
        &::before {
          content: "";
          width: calc(100% - 40px);
          height: 180px;
          left: 70px;
          top: -30px;
        }
    
        .image-item {
          width: 220px;
          height: 120px;
        }
      }
    }
  }

  .not-found {
    height: 75.5vh;

    h1 {
      font-size: 60px;
    }
  }

  .estates-wrap {
  
    .estate-list {
      padding-top: 50px;
    }
  }

  .filters {
    .filter-header {
      display: block;
      padding: 100px 25px 0;
      position: relative;
      text-align: center;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 0.2s ease-in;
      z-index: 2;

      &:hover {
        color: $secondary-color
      }

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background-color: rgba($color: white, $alpha: 0.2);
      }
    }

    .filter-bar {
      height: 0;
      overflow: hidden;
      visibility: hidden;
      flex-direction: column;
      border-bottom: none;
      padding-top: 0px;
      transition: 0.2s ease-in;
      position: relative;
      flex-wrap:nowrap;
  
      .filter-item {
        width: 70%;
        overflow: visible;
        padding-bottom: 10px;

        .btn-row {
          display: flex;
          justify-content: center;
          gap: 20px;
          z-index: 2;

          button {
            margin: 0;
          }
        }
      }
    }

    .active {
      height: 650px;
      overflow: initial;
      visibility: visible;
      padding-bottom:0px;
      padding-top: 20px;
    }
  }
}

@media(max-width: 768px) {
  .header {
    .container {

      .nav-menu {
        display: block;
      }

      .nav-bar {
        background-color: $dark-color;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        transition: 0.2s ease-in;
        gap: 20px;
        left:0%;
        top:100%;
        padding: 0px 30px;
        width: 100%;
        height: 0px;
        overflow: hidden;
  
        a {
          margin: 0;
        }
      }
  
      .active {
        height: 172px;
        padding: 30px;
      }
    }
  }

  .footer {
    .container {
      padding: 50px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      gap: 40px;

      h4 {
        color: $secondary-color;
      }
    }
  }

  .home {
    .dream-house {
      padding: 120px 0 50px;
      .container {
        h1 {
          color: $light-color;
          background-color: $primary-color;
          padding: 40px 0;
        }

        &::before {
          content: none;

        }
  
        &::after {
          content: none;
        }

        .main-image {
          width: 100%;
          height: 400px;
          position: static;
          margin-top: 0;
          box-shadow: 0px -10px 20px black;
        }

        .info-wrap {
          width: 100%;
          margin: 0 auto;
          left:0;
          box-shadow: 0px 10px 20px black;
          position: static;

          .info {
            margin: 0px;
            padding: 20px;
            border: 1px solid $dark-color;
          }
        }
      }
    }

    .middle-section {
      position: static;
  
      .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        position: relative;
        width: 100%;
        z-index: 2;
        top: 60px;
  
        &::before {
          content: "";
          width: calc(65% + 30px);
          height: calc(100% + 60px);
          left: 20%;
        }
    
        .image-item {
          width: 70%;
          height: 250px;
          margin: 0 auto;
        }
      }
    }
  }

  .contacts-section {
    .container {
      .form {
        width: 80%;
      }
    }
  }

  .current-estate {
    .estate-wrap {
      width: 300px;
      height: 300px;
    }
  }

  .not-found {
    height: 44.3vh;

    h1 {
      font-size: 40px;
    }
  }
}