@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&family=Exo:wght@200;300;400;500;600;700;800;900&family=Shadows+Into+Light&display=swap');
@import './variables.scss';
@import './header.scss';
@import './footer.scss';
@import './home.scss';
@import './about.scss';
@import './contacts.scss';
@import './estates.scss';
@import './estate.scss';
@import './404.scss';
@import './filters.scss';
@import './routerViewTransition.scss';
@import './routerViewTransition.scss';
@import '@vueform/slider/themes/default';


body {
  background-color: $primary-color;
  max-width: 100%;
  font-family: $main-font;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

#app {
  box-sizing: border-box;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

.main-container {
  margin: 0 auto;
  box-sizing: border-box
}

@import './media.scss';
