<template>
  <div class="middle-section">
    <div class="container">
      <div class="image-item">
      </div>
      <div class="image-item">
      </div>
      <div class="image-item">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HomePageMiddleSection'
}
</script>