<template>
  <div class="main-section">
    <div class="main-heading">
      <h1>REAL ESTATE</h1>
      <h1>AGENCY</h1>
    </div>
    <div class="main-text">
      <p>
        Villa G is located in Kyiv, Ukraine and is seated on the river bank of its largest river Dnipro. The river offers an exceptional view from the house, however, it is facing the North side of the site while the street is on the South. 
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HomePageMainSection'
}
</script>