<template>
  <div class="dream-house">
    <div class="container">
      <h1>
        DREAM HOUSE
      </h1>
      <div class="info-block">
        <div class="main-image">
        </div>
        <div class="info-wrap">
          <div class="info">
            <h3>
              Amanda Martocchio
            </h3>
            <h3>
              Architecture
            </h3>
            <p>
              The design for this client’s “dream house on the water” capitalizes on every opportunity to incorporate views of the Long Island Sound within the home. The placement and expanse of the fir windows and sliding doors underscore the water’s proximity. 
            </p>
            <a href="#">
              Read more
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HomePageDreamHouse'
}
</script>