<template>
  <div class="footer-section">
    <h3>
      What to learn more?
    </h3>
    <p>
      Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc
    </p>
    <p>
       justo sagittis suscipit ultrices.
    </p>
    <button>
      <a href="#">
        Read More
      </a>
    </button>
  </div>
</template>

<script>
export default {
  name: 'HomePageFooterSection'
}
</script>