body {
    background-color: darkcyan;
    max-width: 1400px;
    margin: 0 auto;
    font-size: 16px;
}
h1, h2, h3 {
    color: white;
}
label {
    color:white;
}
.btn-dark {
    padding: 10px 20px;
}
.nav-tabs {
    border: none;
}
.nav-tabs .nav-link {
    color: black;
    border:none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}
.nav-tabs .nav-link.active {
    background-color: transparent;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
.nav-tabs .nav-link:hover {
    border: none;
    color: white;
    box-shadow: none;
}
.current-info {
    background-color: transparent;
}
.new-info-of-student {
    width: 100px;
}
.one-student {
    padding: 10px;
    border: 2px solid black;
    color: white;
    max-width: 320px;
    min-height: 140px;
}
.student-list {

    height: 600px;
    overflow-y: scroll;
    box-shadow: inset 12px 12px 50px rgba(0, 0, 0, 0.5);
}
