<template>
    <EstatesList />
</template>

<script>
  import EstatesList from '../../components/estates-page/EstatesList.vue';

  export default {
    components: {
      EstatesList
    }
  }
</script>