<template>
  <div class="estates">
    <Filters/>
    <transition name="fade" mode="out-in">
      <router-view />
    </transition>
  </div>
</template>

<script>
  import Filters from '../../components/estates-page/Filters.vue';

  export default {
    components: {
      Filters
    },

    methods: {

      addFilter(array) {
        this.$store.dispatch('addEventFilter', array)
      },

      clearFilter (filter) {
        this.$store.dispatch('clearFilter', filter)
      }
    }
  }
</script>