<template>
  <div class="booking-data">
    <h2>
      "{{movieName}}"
    </h2>
    <table v-if="bookedPlaces.length">
      <tr>
        <td>
          Row:
        </td>
        <td>
          Place:
        </td>
        <td>
          Price:
        </td>
        <td>
        </td>
      </tr>
      <tr
        class="data-cell"
        v-for="place in bookedPlaces"
        :key="place.id"
      >
        <td>
          {{place.row}}
        </td>
        <td>
          {{place.place}}
        </td>
        <td>
          {{place.price}} UAH
        </td>
        <td>
          <button
            class="btn-del"
            @click="$emit('delete-place', place.id)">
              Delete
          </button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          Delete All
        </td>
        <td>
          <button 
            class="btn-del"
            @click="$emit('clear-places')">
            Delete
          </button>
        </td>
      </tr>
    </table>
    <div v-else>
      <h2 class="choose-spot">
        {{firstMessage}}
      </h2>
      <h2 class="choose-spot">
        {{secondMessage}}
      </h2>
    </div>
    <div class="sum">
      <span>
        Current price:
      </span>
      <span>
        {{totalPrice}} UAH
      </span>
    </div>
    <button
      :class="['btn-buy', {'btn-buy-disabled': !bookedPlaces.length}]"
      @click="buyBookedPlaces"
    >
      Buy
    </button>
  </div>
</template>

<script>
import db from "../../database/db.js";
export default {
  name: 'BookingData',
  props: {
    bookedPlaces: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      currentMovie: {},
      movieName: null,
      arrayOfPlaces: this.bookedPlaces,
      arrayOfPrice: [],
      firstMessage: 'Please, choose spot',
      secondMessage:''
    }
  },
  methods: {
    addPrice () {
      this.arrayOfPrice=[]
      this.bookedPlaces.map((item, index) => this.arrayOfPrice.push(this.bookedPlaces[index].price))
    },
    buyBookedPlaces() {
      if(this.bookedPlaces.length) {
        this.firstMessage = 'The operation has been successful!'
        this.secondMessage = 'Tanks for choosing our cinema'

        this.$emit('clear-places')
      }
    }
  },
  computed: {
    totalPrice() {
    this.addPrice()
      return this.arrayOfPrice.reduce((sum, current) => sum + current, 0)
    }
  },

  created() {
    this.currentMovie = db.movies.find(item => item.slug == this.$route.params.movieSlug)
    this.movieName =  this.currentMovie.name
  }
}
</script>

<style scoped>
  
  .booking-data {
    color: black;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    max-width: 370px;
    border: 1px solid black;
    font-size: 20px;
    margin: 5% 0;
    border-radius: 30px;
    padding: 40px 0;
  }

  h2 {
    font-size: 30px;
    margin: 0 auto;
  }

  td {
    padding: 10px 0;
  }

  .data-cell {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .sum {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 25px;
    font-weight: bold;
  }

  .btn-del {
    background-color:lightcoral;
    padding:5px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .btn-buy {
    padding: 10px 70px;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 20px;
    background-color:lightcoral;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border: 1px solid black;
    color: white;
  }

  .btn-buy:hover, .btn-del:hover {
    background-color:indianred;
  }

  .btn-buy-disabled, .btn-buy-disabled:hover {
    cursor:initial;
    background-color: lightgrey;
  }

  .choose-spot {
    color: lightcoral
  }
  .choose-spot:last-of-type {
    margin-top: 20px;
  }
</style>