<template>
  <div class="places-row">
    <CinemaHallRowPlace
      v-for="place in places"
      :key="place"
      :placeId="place"
      :rowId="rowId"
      :vipStatus="(vipStatus ? true : false )"
      @transit-place="transitPlaceItem"
    />
  </div>
</template>

<script>
  import CinemaHallRowPlace from '../components/CinemaHallRowPlace.vue'

  export default {
    name: 'CinemaHallRow',
    components: {
      CinemaHallRowPlace
    },
    props: {
      rowId: {
        type: Number,
        required: true
      },
      places: {
        type: Number,
        required: true
      },
      vipStatus: {
        type: Boolean,
        required: true
      },
    },
    methods: {
       transitPlaceItem (bookedPlace) {
         this.$emit('transit-place', bookedPlace)
       }
     }
  }
</script>

<style scoped>
  .places-row {
    display: flex;
    gap:10px;
    justify-content: center;
  }
</style>