<template>
  <div>
    <div class="cinema-display">
      Display
    </div>
    <div class="cinema-hall">
      <CinemaHallRow
        v-for="row in rows"
        :key="row"
        :rowId="row"
        :places="placesInRow"
        :vipStatus="false"
        @transit-place="transitPlaceItem"
      />
      <CinemaHallRow
        :rowId="vipRowId"
        :places="vipPlaces"
        :vipStatus="true"
        @transit-place="transitPlaceItem"
      />
    </div>
  </div>
</template>

<script>
import CinemaHallRow from '../components/CinemaHallRow.vue'

export default {
  name: 'CinemaHall',
    components: {
    CinemaHallRow
  },
  data() {
    return {
      rows: 10,
      placesInRow: 21,
      vipPlaces: 2 
    }
  },
  methods: {
       transitPlaceItem (bookedPlace) {
         this.$emit('book-place', bookedPlace)
       }
  },
  computed: {
    vipRowId() {
      return this.rows + 1
    }
  }
}
</script>

<style scoped>
  .cinema-display {
    height: 20px;
    background-color: gray;
    margin: 50px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

  }
  .cinema-hall {
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 0 70px;
  }
</style>