<template>
  <div 
    :class="['place', {'place-booked': this.placeItem.booked}]"
    @click="bookPlaceItem"
  >
    <span>
      {{vip}}
    </span>
  </div>
</template>

<script>
import db from "../../database/db.js";
export default {
  name: 'CinemaHallRowPlace',
  props: {
    placeId: {
      type: Number,
      required: true
    },
    rowId: {
      type: Number,
      required: true
    },
    vipStatus: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      currentMovie: {},
      currentSession: {},

      placeItem: {
      row: this.rowId,
      place: this.placeId,
      booked: false,
      price: null,
      id: `${this.rowId}-${this.placeId}`
      },

      vip: null
    }
  },
  methods: {
    bookPlaceItem() {
      this.placeItem.booked = !this.placeItem.booked;
      this.$emit('transit-place', this.placeItem)
       
    }
  },
  created() {
    this.currentMovie = db.movies.find(item => item.slug == this.$route.params.movieSlug)
    this.currentSession = this.currentMovie.sessions.find(item => item.id == this.$route.params.id)
    this.placeItem.price = this.currentSession.price
    if (this.vipStatus) {
      this.placeItem.price = 1.5 * this.placeItem.price;
      this.vip = 'VIP'
    }
  }
}
</script>

<style scoped>
  .place {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 20px;
    height: 40px;
    border-radius: 20%;
    border: 1px solid black;
  }

  .place span {
    color: white;
    position: relative;
    top:25%;
    font-size: 10px;
  }

  .place:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .place-booked, .place-booked:hover {
    background-color:gray;
  }
</style>