<template>
  <div>
    <header>
      <h1>
        Today in CINEMA:
      </h1>
    </header>
  </div>
</template>

<script>
  export default {
    name: 'Header'
  }
</script>

<style scoped>
  h1 {
    color: white;
    margin: 0 auto;
    padding:40px 0;
    border-bottom: 1px solid white;
  }
</style>