<template>
  <div class="movie-item">
    <div  
      class="image"
      :style="{'background-image': `url('${require(`../assets/img/${movieItem.image}`)}')`}"
    >
    </div>
    <div class="info-part">
      <h3>
        {{movieItem.name}}
      </h3>
      <div class="session-row">
        <router-link
          :to="{
            name: 'BookingScene',
            params: {
              id: session.id,
              movieSlug: movieItem.slug,
            }
          }"
          v-for="session in movieItem.sessions"
          :key="session.id"
        >
          {{session.time}}
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MovieListItem',
    props: {
      movieItem: Object,
    }
  }
</script>

<style scoped>
  .movie-item {
    display: flex;
    justify-content:flex-start;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px;
  }

  .image {
    width: 150px;
    height: 250px;
    border: 1px solid white;
    background-position: center;
    background-size: contain;
  }

  .info-part{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
  }

  .session-row {
    display: flex;
    gap: 10px;
    max-height: 30px;
  }

  a {
    display: inline-block;
    color: white;
    padding: 5px 10px;
    background-color: red;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    text-decoration: none;
  }

  a:hover {
    background-color: darkred;
  }
  
  h3 {
    color: white;
    margin: 0;
  }
</style>