<template>
  <div class="movieList">
    <MovieListItem
      v-for="movie in movies"
      :key="movie.id"
      :movieItem="movie"
    />
  </div>
</template>

<script>
import db from '../../database/db'
import MovieListItem from './MovieListItem.vue'

export default {
  name: 'MovieList',
  components: {
    MovieListItem
  },
  data () {
    return {
      movies: db.movies,
    }
  }
}
</script>

<style scoped>
  .movieList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 50px;
  }
</style>