body {
    width: 100%;
    background: #E5E5E5;
    box-sizing: border-box;
    
}
body .container {
    max-width: 1440px;
    font-family: 'TT Norms';
    margin: 0 auto;
    position: relative;
}
.gradient-title {
    font-size: 42px;
    line-height: 50px;
    font-weight: bold;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ref-title {
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    opacity: 0.5;
}
.grey {
    color: #FFFFFF;
}
.blue {
    color: #24A3FF;
    opacity: 1;
}
.red {
    color: #F0145A;
    opacity: 1;
}
.dark {
    color: #323264;
    opacity: 1;
}
.left-right-padding {
    padding-left: 60px;
    padding-right: 60px;
}
/*--header--*/
.header {
    width: 100%;
    position: absolute;
    color: white;
    padding-top: 50px;
    box-sizing: border-box;
    z-index: 2;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo-wrapper{
    width: 155px;
    height: 62px;
    background-image: url(../img/logo-min.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.header .contact-ref-wrapp {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
}
.header .contacts {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header .languages a {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-decoration: none;
    background-color: transparent;
    color:white;
}
.header .languages .ref-active {
    background: #F0145A;
    border-radius: 8px;
    padding: 5px 6px;
}
.header .languages, .header .contacts span {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 19px;
}
.header .languages, .header .contacts span:last-of-type {
    font-weight: bold;
    letter-spacing: 1.1px;
}
.header .languages::before, .header .contacts span::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: calc(50% - 3px);
    right: -13px
}
.header .contacts i {
    color:white;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.header .contacts i:hover {
    color: #F0145A;
}
.header .contact-ref-wrapp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 19px;
}
.header .navbar {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    transition: 0.3s ease-in-out;
}
.header .navbar a {
    padding-top: 3px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    font-style: normal;
    transition: 0.3s ease-in-out;
}
.header .navbar a:hover {
    color: #24A3FF;
}
.header .menu {
    display: none;
}
.header .menu .minus {
    width: 18px;
    height: 2px;
    background-color: white;
    transition: 0.3s ease-in-out;
}
.header .menu:hover .minus {
    background-color: #F0145A;
}
.clicked-minus-1 {
    transform:translateY(6px) rotate(225deg);
}
.clicked-minus-2 {
    opacity: 0;
}
.clicked-minus-3 {
    transform:translateY(-6px) rotate(-225deg);
}
/*--splash--*/
.splash {
    text-align: center;
    box-sizing: border-box;
    background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%)
}
.splash .container {
    padding-top: 178px;
    position: relative;
}
.splash .container::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);    
}
.splash .bg-image-wrapper {
    margin: 0px auto;
    width: 689px;
    height: 622px;
    background-image: url(../img/frame-2.svg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.splash .bg-image {
    position: absolute;
    width: 100%;
    height: 687px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../img/symbol-long-leg.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.splash .slogan {
    position: absolute;
    width: 100%;
    top: 358px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38px;
    color: white;
    line-height: 45px;
}
.splash .icon-wrapper {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom:20px;
    transform: translateX(-50%);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.splash .icon-wrapper:hover {
    border: 1px solid #F0145A;
}
.splash .icon-wrapper:hover i {
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*--experience-services--*/
.experience-services {
    background-color: white;
}
.experience-services .container {
    background-image: url(../img/experience-services-bg.svg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 0px 0px 12px 12px;
}
.experience-services .experience {
    padding-top: 80px;
    padding-bottom: 80px;
}
.experience-services .tab-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience-services .nav-tab {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 4px solid #B3B3BA;

}
.experience-services .nav-item {
    display: block;
    align-self: flex-end;
    position: relative;
}
.experience-services .nav-link {
    width: 100%;
    display: block;
    padding-right: 40px;
    font-size: 42px;
    line-height: 50px;
    font-weight: bold;
    max-width: 527px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #B3B3BA;
    text-align: end;
    transition: 0.3s ease-in-out;
}
.experience-services .nav-link::before, .experience-services .nav-active::before  {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #F0145A;
    right: 0;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
    opacity: 0;
}
.experience-services .nav-link:hover.nav-link span, .experience-services .nav-active span{
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.experience-services .nav-link:hover.nav-link::before, .experience-services .nav-active::before {
    opacity: 1;
}
.experience-services .tab-content {
    max-width: 600px;
    color: #FFFFFF;
    padding-left: 40px;
}
.experience-services .tab-content-item {
    display: none;
}
.experience-services .content-show {
    display: block;
}
.experience-services .content-hidden {
    display: block;
    opacity: 0;
    transition: 0.2s ease-in-out;
}
.experience-services .tab-content h2{
    font-size: 32px;
    line-height: 38px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.experience-services .tab-content p{
    font-size: 21px;
    line-height: 30px;
    padding-bottom: 45px;
}
.services .services-grid {
    padding-top: 68px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}
.services .service-card {
    max-width: 413px;
}
.services .icon-wrapper {
    width: 92px;
    height: 92px;
    border-radius: 24px;
    background: #FFFFFF;
    position: relative;
    cursor: pointer;
}
.services .icon-wrapper .service-icon {
    width: 64px;
    height: 64px;
    background-position: center;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.services .icon-wrapper .icon-1 {
    background-image: url(../icons/service-1.svg);
}
.services .icon-wrapper .icon-2 {
    background-image: url(../icons/service-2.svg);
}
.services .icon-wrapper .icon-3 {
    background-image: url(../icons/service-3.svg);
}
.services .icon-wrapper .icon-4 {
    background-image: url(../icons/service-4.svg);
}
.services .icon-wrapper .icon-5 {
    background-image: url(../icons/service-5.svg);
}
.services .icon-wrapper .icon-6 {
    background-image: url(../icons/service-6.svg);
    width: 48px;
    height: 48px;
}
.services .service-card h3 {
    padding: 20px 0 15px;
    font-size: 24px;
    line-height: 28px;
    color: #24A3FF;
}
.services .service-card p {
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}
.services::before {
    content: "";
    height: 10px;
    width: 97.222%;
    position: absolute;
    bottom: -10px;
    left:50%;
    transform: translateX(-50%);
    background: #CACADB;
    border-radius: 0px 0px 12px 12px;
}
.services::after {
    content: "";
    height: 10px;
    width: 94.444%;
    position: absolute;
    bottom: -20px;
    left:50%;
    transform: translateX(-50%);
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
}
/*--team--*/
.team {
    background-color: white;
}
.team .container {
    padding-top: 60px;
    padding-bottom: 77px;
}
.team .team-card {
    display: flex;
    justify-content: center;
    gap: 40px;
    background: #F5F5FA;    
    border-radius: 12px;
    overflow: hidden;
}
.team .team-card .photo-wrapper {
    min-width: 413px;
    height: 500px;
    display: block;
    overflow: hidden;
} 
.team .team-card .photo {
    width: 100%;
    height: 100%;
    background-image: url(../img/team-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.team .team-card .photo:hover {
    transform: scale(1.1);
}
.team .team-card .text-area {
    padding-top: 40px;
    padding-right: 40px;
}
.team .team-card .text-area h4 {
    padding: 20px 0 5px;
    font-size: 18px;
    line-height: 21px;
    color: #B3B3BA;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.team .team-card .text-area h4:hover {
    color: #F0145A;

}
.team .team-card .text-area span {
    font-size: 16px;
    line-height: 22px;
    color: #B3B3BA;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 11px 0 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: #24A3FF;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 39px;
}
/*--cases--*/
.cases {
    background-color: white;
    padding-bottom: 30px;
}
.cases .container {
    border-radius: 12px;
    overflow: hidden;
}
.cases .container .row {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;

}
.cases .up-row .title {
    background-color: #F5F5FA;
    padding: 20px 20px 19px;
    border: 1px solid #FFFFFF;
    border-top: 0;
}
.cases .up-row .title h3 {
    padding: 0;
}
.cases .case-card {
    box-sizing: border-box;
    background-color: #F5F5FA;
    border: 1px solid #FFFFFF;
    padding: 0 20px 20px;
    display: flex;
    align-items: flex-end;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.cases .case-card:hover {
    background: #EDEDF7;
}
.cases .up-row .case-card {
    min-height: 255px;
}
.cases .down-row .case-card, .cases .up-row .first-card  {
    min-height: 198px;
}
.cases .down-row .case-card .wrapper, .cases .up-row .case-card .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cases .down-row .first-card .wrapper {
    width: 278px;
}
.cases .case-card p {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #686887;
}
.cases .case-card span {
    font-size: 18px;
    line-height: 26px;
    color: #B3B3BA;
}
/*--clients--*/
.clients {
    background-color: white
}
.clients .title{
    padding: 0 0 30px;
    text-align: center;
}
.clients .logo-array {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.clients .client-card {
    width: 360px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.clients .icon-logo {
    width: 360px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
}
.clients .bg-1 {
    background-color: #1C4280;
}
.clients .bg-2 {
    background-color: #143646;
}
.clients .bg-3 {
    background-color: #F48B30;
}
.clients .bg-4 {
    background-color: #9E4DC3;
}
.clients .bg-5 {
    background-color: #FD9339;
}
.clients .bg-6 {
    background-color: #E2E2E4;
}
.clients .bg-7 {
    background-color: #C71C36;
}
.clients .bg-8 {
    background-color: #DCF3F9;
}
.clients .bg-9 {
    background-color: #EAEAEA;
}
.clients .bg-10 {
    background-color: #282240;
}
.clients .bg-11 {
    background-color: #1D4568;
}
.clients .bg-12 {
    background-color: #000000;
}
.clients .lg-1 {
    background-image: url(../icons/logo-1.svg);
}
.clients .lg-2 {
    background-image: url(../icons/logo-2.svg);
}
.clients .lg-3 {
    background-image: url(../icons/logo-3.svg);
}
.clients .lg-4 {
    background-image: url(../icons/logo-4.svg);
}
.clients .lg-5 {
    background-image: url(../icons/logo-5.svg);
}
.clients .lg-6 {
    background-image: url(../icons/logo-6.svg);
}
.clients .lg-7 {
    background-image: url(../icons/logo-7.svg);
}
.clients .lg-8 {
    background-image: url(../icons/logo-8.svg);
}
.clients .lg-9 {
    background-image: url(../icons/logo-9.svg);
}
.clients .lg-10 {
    background-image: url(../icons/logo-10.svg);
}
.clients .lg-11 {
    background-image: url(../icons/logo-11.svg);
}
.clients .lg-12 {
    background-image: url(../icons/logo-12.svg);
}
/*--publications--*/
.publications {
    background-color: #F5F5FA;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;

}
.publications .shadow {
    width: 100%;
    height: 200px;
    position: absolute;
    background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
    left:0;
    bottom: 0;
    z-index: 2;
}
.publications .shadow-hidden {
    height: 0px;
}
.publications .title {
    padding-bottom: 20px;
}
.publications .news-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    height: 720px;
    overflow: hidden;
}
.publications .news-wrapper-open {
    height: 100%;
}
.publications .more-publications {
    position: absolute;
    z-index: 3;
    width: 250px;
    height: 50px;
    left: calc(50% - 125px);
    bottom: 10px;
    background: #24A3FF;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border: none;
    border-radius: 12px;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.publications .more-publications-relative {
    position: static;
    display: block;
    margin: 30px auto 0;
}
.publications .more-publications:hover {
    background: #0085FF;
}
.publications .more-publications:active {
    background: #006CCF;
    box-shadow:none;
    border: none;
}
.publications .news-wrapper .column {
    width: 414px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
}
.publications .news-card {
    background-color: white;
    border-radius: 8px;
}
.publications .img-wrap {
    overflow: hidden;
    background-color: #F5F5FA;
}
.publications .img {
    width: 100%;
    height: 233px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.publications .img:hover {
    transform: scale(1.1);
}
.publications .img-1 {
    background-image: url(../img/news-1.jpg);
}
.publications .img-2 {
    background-image: url(../img/news-2.jpg);
}
.publications .img-3 {
    background-image: url(../img/news-4.jpg);
}
.publications .img-4 {
    background-image: url(../img/news-3.jpg);
}
.publications .img-5 {
    background-image: url(../img/news-5.jpg);
}
.publications .text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}
.publications .text-area .card-title {
    position: relative;
}
.publications .text-area .card-title::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #E6E6F0;
    position: absolute;
    bottom: -22px;
} 
.publications .text-area .card-title h4 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #24A3FF;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.publications .text-area .card-title h4:hover {
    color: #F0145A;
}
.publications .text-area .card-title span {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    color: #B3B3BA;
}
.publications .text-area .content p {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
/*--footer--*/
.footer {
    background: #F5F5FA;
    border-top: 4px solid #E6E6F0;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 0;
}
.footer .container {
    padding-top: 32px;
    padding-bottom: 32px 40px;
    display: flex;
    justify-content: space-between;
}
.footer .column {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.footer .left-column {
    align-self: center;
}
.footer .right-column {
    align-self: flex-start;
}
.footer .column .item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap:26px;
}
.footer .column .address {
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: #323264;
    position: relative;
}
.footer .left-column a {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.footer .column .item i {
    font-size: 38px;
    color: #24A3FF;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.footer .column .phone-number {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #46466E;
    position: relative;
}
.footer .column .email-address {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #24A3FF;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.footer .column .address::before, .footer .column .phone-number::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #B3B3BA;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -16px;
}
.footer .right-column span {
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #B3B3BA;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.footer .column .email-address:hover, .footer .column a:hover, .footer .column i:hover, .footer .right-column span:hover {
    color: #F0145A;
}
@media (max-width:1400px) {
    .services .service-card {
        max-width: 350px;
    }
}
@media (max-width:1200px) {
    .services .services-grid {
        column-gap: 40px;
        justify-content: center;
    }
    .team .team-card .photo-wrapper {
        min-width: 330px;
        height: 400px;
    } 
    .team .gradient-title {
        font-size: 36px;
        line-height: 40px;
    }
}
@media (max-width:992px) {
    .gradient-title {
        font-size: 32px;
        line-height: 38px;
    }
    .left-right-padding {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header {
        padding-top: 50px;
    }
    .header .contacts {
        align-self: flex-end;
    }
    .header .languages::before, .header .contacts span::before {
        content: none;
    }
    .header .contacts span:first-of-type, .header .contacts .facebook {
        display: none;
    }
    .splash .bg-image-wrapper {
        background-image: none;
        width: auto;
    }
    .experience-services .nav-link, .experience-services .nav-active {
        font-size: 28px;
        line-height: 34px;
    }
    .experience-services .tab-content h2 {
        font-size: 22px;
        line-height: 26px;
        padding-top: 0px;
        padding-bottom: 15px;
    }
    .experience-services .tab-content p {
        font-size: 18px;
        line-height: 26px;
        padding-bottom: 0px;
    }
    .team .team-card .photo-wrapper {
        min-width: 265px;
        height: 320px;
    } 
    .team .gradient-title {
        font-size: 24px;
        line-height: 28px;
    }
    .cases .container .row {
        display: block;
    }
    .cases .case-card {
        align-items: center;
    }
    .publications .container {
        padding-top: 20px;
        padding-bottom: 40px;
        max-width: 414px;
    }
    .publications .img {
        height: 189px;
    }
    .publications .shadow {
        height: 0px;
    }
    .publications .ref-title {
        text-align: start;
    }
    .publications .text-area {
        gap: 0px;
    }
    .publications .text-area .content p {
        display: none;
    }
    .publications .news-card {
        width: 100%;
        overflow: hidden;
    }
    .publications .text-area .card-title h4 {
        padding: 0 0 10px;
    }
    .publications .news-wrapper {
        flex-direction: column;
        gap: 20px;
        justify-content: start;
        position: static;
    }
    .publications .news-wrapper .column {
        margin: 0 auto;
        gap: 20px;
        width: 100%;
    }
    .publications .news-wrapper-open {
        height: 100%;
    }
    .publications .more-publications {
        display: block;
        position: static;
        margin: 40px auto 0;
    }
    .footer .container, .footer .column, .footer .column .item, .footer .right-column span  {
        display: block;
        text-align: center;
    }
    .footer .column .address {
        padding-bottom: 10px;
    }
    .footer .left-column a, .footer .column span {
        display: block;
        padding-bottom: 20px;
    }
    .footer .column .address::before, .footer .column .phone-number::before, .publications .text-area .card-title::before, .publications .container::before {
        content: none;
    }
}
@media (max-width:768px) {
    .header {
        padding-top: 22px;
    }
    .header .container {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .header .languages a, .header .contacts span:last-of-type {
        color: #B3B3BA;
    }
    .header .languages .ref-active {
        color: white;
    }
    .header .contacts {
        width: 100%;
        justify-content: space-between;
        position: relative;
        z-index: 3;
    }
    .header .contacts span:first-of-type, .header .contacts .facebook,  .header .languages::before, .header .contacts span::before,  .header .navbar a {
        display: none;
    }
    .header .menu {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-self: flex-end;
        position: absolute;
        z-index: 3;
        bottom: 16px;
        transform: translateY(50%);
        background: transparent;
        border: none;
        cursor: pointer;
    }
    .header .navbar {
        box-sizing: border-box;
        flex-direction: column;
        gap: 11px;
        position: absolute;
        left: calc(0% - 20px);
        top:calc(0% - 42px);
        transform: translateY(20px);
        padding: 120px 20px 20px;
        background-color: #323264;
        text-align: center;
        overflow: hidden;
        
    }
    .navbar-hidden {
        width: 0px;
        opacity: 0;
    }
    .navbar-show {
        width: calc(100% + 40px);
        opacity: 1;
    }
    .header .navbar a {
        display: block;
        background: #F5F5FA;
        color: #24A3FF;
        border: 1px solid #FFFFFF;
        border-radius: 8px;
        padding: 13px 0 13px;
    }
    .header .logo-wrapper {
        align-self: flex-start;
        width: 76px;
        height: 31px;
        position: relative;
        z-index: 3;
    }
    .header .contact-ref-wrapp {
        width: 100%;
        margin: 0;
    }
    .splash .container {
        box-sizing: border-box;
        padding-top: 100px;
        height: 640px;
        overflow: hidden;
    }
    .splash .bg-image {
        transform: translateX(calc(-50% + 10px));
    }
    .splash .slogan {
        top: 260px;
    }
    .experience-services .experience {
        padding-top: 40px;
        padding-bottom: 45px;
    }
    .experience-services .tab-container {
        flex-direction: column-reverse;
        position: relative;
    }
    .experience-services .nav-tab {
        flex-direction: row;
        gap: 15px;
        padding-top: 20px;
        border: none;
    }
    .experience-services .nav-item, .experience-services .nav-item-active {
        padding: 0;
        position:static;
    }
    .experience-services .nav-link::before, .experience-services .nav-active::before {
        content: none;
    }
    .experience-services .nav-link, .experience-services .nav-active {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #2f4982;
        padding: 0px;
    }
    .experience-services .nav-active {
        background: #24A3FF; 
    }
    .experience-services .nav-item:active {
        padding: 0;
    }
    .experience-services .nav-link span {
        position: absolute;
        left: 0;
        top: -30px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: auto;
        display: none;
    }
    .experience-services .nav-active span {
        display: block;
    }
    .experience-services .tab-content {
        width: 100%;
        padding-left: 0px;
        align-self: flex-start;
    }
    .services .services-grid {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .team .container {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .team .team-card {
        flex-direction: column-reverse;
    }
    .team .team-card .text-area {
        padding: 20px 20px 30px;
    }
    .team .gradient-title{
        font-size: 32px;
        line-height: 38px;
    }
    .team .team-card .photo-wrapper {
        position: absolute;
        height: 60px;
        min-width: 0px;
        max-width: none;
        width: 60px;
        border-radius: 50%;
        left: 20px;
        bottom: 20px;
    }
    .team .team-card .text-area h4, .team .team-card .text-area span {
        padding: 15px 0px 0px  90px;
    }
    .cases .down-row .case-card .wrapper, .cases .up-row .case-card .wrapper {
        gap: 10px;
    }
    .cases .case-card {
        padding: 20px;
    }
    .cases .up-row .case-card, .cases .down-row .case-card, .cases .up-row .first-card {
        min-height: 140px;
    }
    .cases .case-card p{
        font-size: 18px;
        line-height: 21px;
    }
    .clients .client-card {
        width: 186px;
        height: 90px;
    }
    .clients .icon-logo {
        width: 186px;
        height: 90px;
        transform: scale(0.9);
        background-size: contain;
    }
    .publications {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
