@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-Bold.eot');
    src: local('../font/TT Norms Bold'), local('TTNorms-Bold'),
        url('../font/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-Bold.woff2') format('woff2'),
        url('../font/TTNorms-Bold.woff') format('woff'),
        url('../font/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-ThinItalic.eot');
    src: local('../font/TT Norms Thin Italic'), local('TTNorms-ThinItalic'),
        url('../font/TTNorms-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-ThinItalic.woff2') format('woff2'),
        url('../font/TTNorms-ThinItalic.woff') format('woff'),
        url('../font/TTNorms-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-Thin.eot');
    src: local('../font/TT Norms Thin'), local('TTNorms-Thin'),
        url('../font/TTNorms-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-Thin.woff2') format('woff2'),
        url('../font/TTNorms-Thin.woff') format('woff'),
        url('../font/TTNorms-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-LightItalic.eot');
    src: local('../font/TT Norms Light Italic'), local('TTNorms-LightItalic'),
        url('../font/TTNorms-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-LightItalic.woff2') format('woff2'),
        url('../font/TTNorms-LightItalic.woff') format('woff'),
        url('../font/TTNorms-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-ExtraBoldItalic.eot');
    src: local('../font/TT Norms ExtraBold Italic'), local('TTNorms-ExtraBoldItalic'),
        url('../font/TTNorms-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-ExtraBoldItalic.woff2') format('woff2'),
        url('../font/TTNorms-ExtraBoldItalic.woff') format('woff'),
        url('../font/TTNorms-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-Italic.eot');
    src: local('TT Norms Italic'), local('TTNorms-Italic'),
        url('../font/TTNorms-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-Italic.woff2') format('woff2'),
        url('../font/TTNorms-Italic.woff') format('woff'),
        url('../font/TTNorms-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-ExtraLight.eot');
    src: local('../font/TT Norms ExtraLight'), local('TTNorms-ExtraLight'),
        url('../font/TTNorms-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-ExtraLight.woff2') format('woff2'),
        url('../font/TTNorms-ExtraLight.woff') format('woff'),
        url('../font/TTNorms-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-HeavyItalic.eot');
    src: local('../font/TT Norms Heavy Italic'), local('TTNorms-HeavyItalic'),
        url('../font/TTNorms-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-HeavyItalic.woff2') format('woff2'),
        url('../font/TTNorms-HeavyItalic.woff') format('woff'),
        url('../font/TTNorms-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-MediumItalic.eot');
    src: local('../font/TT Norms Medium Italic'), local('TTNorms-MediumItalic'),
        url('../font/TTNorms-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-MediumItalic.woff2') format('woff2'),
        url('../font/TTNorms-MediumItalic.woff') format('woff'),
        url('../font/TTNorms-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-BoldItalic.eot');
    src: local('../font/TT Norms Bold Italic'), local('TTNorms-BoldItalic'),
        url('../font/TTNorms-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-BoldItalic.woff2') format('woff2'),
        url('../font/TTNorms-BoldItalic.woff') format('woff'),
        url('../font/TTNorms-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-Heavy.eot');
    src: local('../font/TT Norms Heavy'), local('TTNorms-Heavy'),
        url('../font/TTNorms-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-Heavy.woff2') format('woff2'),
        url('../font/TTNorms-Heavy.woff') format('woff'),
        url('../font/TTNorms-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-Light.eot');
    src: local('../font/TT Norms Light'), local('TTNorms-Light'),
        url('../font/TTNorms-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-Light.woff2') format('woff2'),
        url('../font/TTNorms-Light.woff') format('woff'),
        url('../font/TTNorms-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-Medium.eot');
    src: local('../font/TT Norms Medium'), local('TTNorms-Medium'),
        url('../font/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-Medium.woff2') format('woff2'),
        url('../font/TTNorms-Medium.woff') format('woff'),
        url('../font/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-ExtraBold.eot');
    src: local('../font/TT Norms ExtraBold'), local('TTNorms-ExtraBold'),
        url('../font/TTNorms-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-ExtraBold.woff2') format('woff2'),
        url('../font/TTNorms-ExtraBold.woff') format('woff'),
        url('../font/TTNorms-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-ExtraLightItalic.eot');
    src: local('../font/TT Norms ExtraLight Italic'), local('TTNorms-ExtraLightItalic'),
        url('../font/TTNorms-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-ExtraLightItalic.woff2') format('woff2'),
        url('../font/TTNorms-ExtraLightItalic.woff') format('woff'),
        url('../font/TTNorms-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-Regular.eot');
    src: local('../font/TT Norms Regular'), local('TTNorms-Regular'),
        url('../font/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-Regular.woff2') format('woff2'),
        url('../font/TTNorms-Regular.woff') format('woff'),
        url('../font/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-BlackItalic.eot');
    src: local('../font/TT Norms Black Italic'), local('TTNorms-BlackItalic'),
        url('../font/TTNorms-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-BlackItalic.woff2') format('woff2'),
        url('../font/TTNorms-BlackItalic.woff') format('woff'),
        url('../font/TTNorms-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-Black.eot');
    src: local('../font/TT Norms Black'), local('TTNorms-Black'),
        url('../font/TTNorms-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-Black.woff2') format('woff2'),
        url('../font/TTNorms-Black.woff') format('woff'),
        url('../font/TTNorms-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

