<template>
  <div id="app">
    <Navigation />
    <transition name="fade" mode="out-in">
      <router-view class="main-container"/>
    </transition>
    <Footing />
  </div>
</template>

<script>
import Navigation from './components/Navigation.vue';
import Footing from './components/Footing.vue'

  export default {
    components:{
      Navigation,
      Footing
    }
  }
</script>

<style lang="scss">
</style>
