<template>
  <div class="booking-scene">
    <CinemaHall 
      @book-place="addBookedPlace"
    />
    <BookingData
      :bookedPlaces="bookedPlaces"
      @clear-places="clearBookedPlaces"
      @delete-place="deletePlace"
    />
  </div>
</template>

<script>
  import CinemaHall from '../../components/CinemaHall.vue'
  import BookingData from '../../components/BookingData.vue'

  export default {
    components: {
      CinemaHall,
      BookingData
    },
     data () {
       return {
         bookedPlaces: []
       }
     },
     methods: {
       addBookedPlace (bookedPlace) {
         if (bookedPlace.booked) {
           this.bookedPlaces.push(bookedPlace)
         } else {
            let index = this.bookedPlaces.findIndex(item => item.id == bookedPlace.id)
            this.bookedPlaces.splice(index, 1)
         }
       },
       clearBookedPlaces() {
         this.bookedPlaces.map(item => item.booked = false)
         this.bookedPlaces = []
       },
       deletePlace(id) {
          let index = this.bookedPlaces.findIndex(item => item.id == id)
          this.bookedPlaces[index].booked = false
          this.bookedPlaces.splice(index, 1)

       }
     }
  }
</script>

<style scoped>
  .booking-scene {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
</style>