
.icon-user:before { content: '\e800'; } /* '' */
.icon-googleplay:before { content: '\e801'; } /* '' */
.icon-search-1:before { content: '\e802'; } /* '' */
.icon-login:before { content: '\e803'; } /* '' */
.icon-location-1:before { content: '\e804'; } /* '' */
.icon-th-large-outline:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
