body {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight:500;
    color: #888;
    width: 100%;
    position: relative;


}
.btn:hover {
    color: #fff;
}
 h5, h4 {
    color: #081828;
    font-weight: 600;
}
h6 {
    color: #081828;
    font-weight: 600;
    font-size: 18px;
}
/* -- header--*/
.dropdown-toggle::after {
    display: none;
}
.header {
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    z-index: 5;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 5%);
}
.navbar-nav {
    gap: 40px;
}
.navbar-light .navbar-nav .nav-link {
    color: #333;
    padding: 38px 0px;
    transition: all 0.3s ease-out;
}
.navbar-brand img{
    padding: 20px 0;
}
.nav-link::before {
    content: "";
    width: 0%;
    height: 3px;
    background-color: #5830e0;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease-out;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #5830e0;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #5830e0;
}
.navbar-light .navbar-nav .nav-link:hover ~.dropdown-menu{
    opacity: 1;
    visibility: visible;
}
.navbar-light .navbar-nav .nav-link:hover::before{
    width: 100%;
}
.dropdown-item {
    min-width: 220px;
    color: #888;
    background-color: white;
    transition: all 0.3s ease-out;
    padding: 12px 15px;
}
.dropdown-item.active {
    background-color: #5830e0;
}
.dropdown-item:hover {
    background-color: #5830e0;
    color: white;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #5830e0;
    box-shadow: none;
}
.dropdown-menu {
    display: block;
    opacity: 0;
    transition: all 0.3s ease-out;
    visibility: hidden;
    padding: 10px;
    gap: 10px;
    border-top: 1px solid #eee;
    border-radius: 0px;
}
.dropdown-menu:hover {
    opacity: 1;
    visibility: visible;
}
.multi-block {
    display: flex;
}
.header .login-references {
    display: flex;
    gap: 15px;
}
.header .login-references .login-ref {
    color: #333;
    text-decoration: none;
}
.header .login-references .login-ref i{
    font-style: normal;
    color: #5830e0;
}
.header .login-references .login-ref span{
    color: #333;
}
.header .login-references .login-ref span:hover {
    color: #5830e0;
}
.deriver {
    border-right: 1px solid #eee;
}
.btn-primary {
    color: #fff;
    background-color: #5830e0;
    border: none;
    margin-left: 20px;
    padding: 15px 30px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #212529;
    color: #fff;
    box-shadow: none;
}
/* -- footer--*/
.footer {
    background-color: #081828;
    font-weight:400;
}
.padding-wrapp {
    padding: 100px 0;
}
.footer .row {
    row-gap: 30px;
}
.footer h3 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 35px;
    color: #fff;
}
.top-footer i {
    align-items: center;
    font-size: 30px;
}
.footer a {
    text-decoration: none;
    color: #e1e1e1;
    font-style: normal;
    transition: all 0.3s ease-out;
}
.mobile-aps-btn {
    width: 200px;  
    border: 1px solid #eeeeee4a;
    border-radius: 6px; 
}
.footer .btn:hover ,.footer .btn:active ,.footer .btn:focus{
    background-color: #5830e0;
    box-shadow: none;
}
.footer .button-wrap {
    padding: 10px 20px 10px;
}
.footer .btn span, .footer span{
    font-style: normal;
    font-weight:400;
    font-size: 14px;
    color: #e1e1e1;
}
.footer .footer-ref {
    position: relative;
}
.footer .footer-ref:hover {
    color: #5830e0;
}
.footer-item, .column-item{
    row-gap: 10px;
    align-items: flex-start;
}
.contact-span {
    color: #e1e1e1;
}
#contactFooterItem {
    row-gap: 30px;
}
.bottom-footer .container {
    padding: 50px 0;
    border-top: 1px solid #ebebeb4f;
}
.footer-link-bar {
    gap: 20px;
    padding: 0 20px 20px;
    flex-wrap: wrap;
}
.footer-link-bar a::before {
    content: "";
    width: 6px;
    height: 2px;
    background-color: #888;
    position: absolute;
    top: 50%;
    right: -13px;
}
.footer-link-bar a:last-child::before {
    content: "";
    width: 0px;
}
.footer-icon-bar {
    padding-top: 30px;
    gap: 20px;
    flex-wrap: wrap;
}
.icon-bar-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #e1e1e1;
    border: 1px solid #eeeeee4a;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
/* -- section-welcome--*/
.welcome {
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    color:#fff;
    width: 100%;

}
.welcome::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #081828;
    opacity: 0.9;
    position: absolute;
    z-index: -1;
}
.welcome .container {
    padding-top: 300px;
    padding-bottom: 300px;
}
.welcome .welcome-wrapp {
    text-align: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
}
.welcome .deriver, .lp-wrapp .deriver {
    width: 60px;
    height: 4px;
    border-radius: 2px;
    background-color: #5830e0;
    border: none;
}
.welcome .welcome-wrapp h1 {
    font-size: 46px;
    font-weight: 600;
}
.welcome-wrapp span {
    font-size: 17px;
    font-weight: 400;
    color: #ddd;
}
.welcome .search-bar input, .welcome .search-bar select {
    width: 100%;
    background: #fff;
    border: 1px solid #eee;
    height: 55px;
}
.form-floating>label {
    color: #888;
} 
.welcome .search-bar .btn-primary {
    width: 100%;
}
.welcome .search-bar .form-item {
    padding: 0 10px;
}
.welcome .search-bar {
    padding: 30px 20px;
    background-color: #fff3;
    border-radius: 6px;
    font-weight: 400;
}
.welcome  .form-item {
    position: relative;
}
.welcome .form-item i{
    font-size: 16px;
    position: absolute;
    right: 25px;
    top: calc(50% - 10px);
}
/* -- slide-bar--*/
.product-category {
    position: relative;
}
.product-category .wrapper {
    background-color: transparent;
    position: absolute;
    z-index: 2;
    left:50%;
    top:0%;
    transform: translate(-50%, -50%);

}
.product-category .category-slider {
    border-radius: 6px;
}
.product-category .swiper-slide {
    background-color: #fff;
    padding: 30px 0px 20px;
    border: none;
}
.product-category .swiper-slide a{
    width: 100%;
    padding: 30px 0px 20px;
    gap: 20px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: all 0.3s ease-out;
    border-radius: 6px;
}
.product-category .swiper-slide a:hover {
    background-color:#f9f9f9;
}
.product-category  .swiper-slide a i{
    font-size: 30px;
    color: #5830e0;
}
.product-category  .swiper-slide .number {
    padding: 3px 0;
    margin: 0 87px;
    transition: all 0.3s ease-out;
    border-radius: 3px;
    background-color:#f9f9f9;
    border: 1px solid #eee;
}

.product-category .swiper-slide a:hover .number {
    background-color: #5830e0;
    color: #fff;
}
.product-category .swiper-button-prev, .product-category .swiper-button-next {
    width: 40px;
    height: 40px;
    font-size: 18px;
    background-color: #5830e0;
    border-radius: 50%;
    transition: all 0.3s ease-out;
    opacity: 0;
}
.product-category .category-slider:hover .swiper-button-prev, .product-category .category-slider:hover .swiper-button-next {
    opacity: 1;
    visibility: visible;
}
.product-category .swiper-button-prev:hover, .product-category .swiper-button-next:hover {
    background-color: #212529;
    opacity: 1;
    visibility: visible;
}
.product-category .swiper-button-prev:after, .product-category .swiper-button-next:after {
    color: #fff;
    font-size: 15px;
}
/* -- latest-products--*/
.latest-products {
    background-color: #f9f9f9;
}
.latest-products .container {
    padding-top: 200px;
}
.lp-wrapp {
    text-align: center;
    align-items: center;
    gap: 20px;
}
.lp-wrapp h2 {
    font-size: 35px;
    font-weight: 600;
    color: #081828;
}
.lp-wrapp span {
    font-size: 17px;
    font-weight: 400;
}
.lp-row-padding {
    padding: 100px 0;
}
.latest-products .card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(35,38,45,.14)
}
.latest-products .top-wrapp {
    overflow: hidden;
}
.latest-products .card:hover .top-part {
    transform: scale(1.1);
}
.latest-products .card .top-part {
    height: 277px;
    background-image: url(../img/iphone-x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.latest-products .card .saler-wrapp {
    padding: 20px;
    position: absolute;
    left: 0;
    top: 200px;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(0,0,0,0.87718837535014) 0%, rgba(0,0,0,0.48783263305322133) 52%, rgba(0,0,0,0) 100%);
}
.latest-products .card .saler-wrapp span {
    color: white;
    padding-left: 10px;
    transition: all 0.3s ease-in-out;
}
.latest-products .card .saler {
    cursor: pointer;
}
.latest-products .card .saler:hover span {
    color: #5830e0;
}
.latest-products .card .saler-wrapp .for-sale {
    background-color: #5830e0;
    border-radius: 5px;
    padding: 7px 10px;
}
.latest-products .card .photo {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.latest-products .card-body {
    padding: 40px 20px 20px;
    gap: 10px;
    border-bottom: 1px solid #eee;
}
.card-body .update-time, .card-body .number {
    font-weight: 300;
}
.fa-star {
    color:#ffab02;
}
.data-locations i{
    color: #5830e0;
}
.data-locations span{
    color: #888;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
}
.card .footer-card {
    padding: 20px 20px;
    background-color: white;
}
.card .footer-card span:last-of-type {
    color: #5830e0;
    font-weight:bold;
    font-size: 17px;
}
.card .footer-card .icon-wrapp {
    width: 40px;
    height: 40px;
    border: 1px solid #eee;
    border-radius: 50%;
    font-size: 18px;
    color: #5830e0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.card .footer-card .icon-wrapp:hover {
    color: #eee;
    background-color: #5830e0;
}
.latest-products .card .bg-1 {
    background-image: url(../img/iphone-x.jpg);
}
.latest-products .card .bg-2 {
    background-image: url(../img/real-state.jpg);
}
.latest-products .card .bg-3 {
    background-image: url(../img/photo.jpg);
}
.latest-products .card .bg-4 {
    background-image: url(../img/car.jpg);
}
.latest-products .card .bg-5 {
    background-image: url(../img/laptop.jpg);
}
.latest-products .card .bg-6 {
    background-image: url(../img/food.jpg);
}
.latest-products .card .saler-1 {
    background-image: url(../img/author-1.jpg);
}
.latest-products .card .saler-2 {
    background-image: url(../img/author-2.jpg);
}
.latest-products .card .saler-3 {
    background-image: url(../img/author-3.jpg);
}
.latest-products .card .saler-4 {
    background-image: url(../img/author-4.jpg);
}
.latest-products .card .saler-5 {
    background-image: url(../img/author-5.jpg);
}
.latest-products .card .saler-6 {
    background-image: url(../img/author-6.jpg);
}
/* -- why-us--*/
.top-padding {
    padding-top: 100px;
}
.why-us .why-us-item {
    padding: 40px;
    gap: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #eee;
    cursor: pointer;
}
.why-us .ws-icon-wrapp {
    width: 70px;
    height: 70px;
    border: 4px solid #5830e0;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
    background-color: #5830e0;
    transition: all 0.3s ease-in-out;
}
.why-us .why-us-item:hover .ws-icon-wrapp {
    background-color: #f9f9f9;
    color: #5830e0;
}
.why-us .why-us-item p {
    font-weight: 400;
    font-size: 17px;
}
/* -- browse-cities--*/
.browse-cities {
    background-color: #f9f9f9;
}
.browse-cities .city-item a{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
}
.browse-cities .city-item .city-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    height: 290px;
}
.browse-cities .city-item:hover .city-image{
    transform: scale(1.1);
}
.browse-cities .city-1 {
    background-image: url(../img/sity-1.jpg);
}
.browse-cities .city-2 {
    background-image: url(../img/sity-2.jpg);
}
.browse-cities .city-3 {
    background-image: url(../img/sity-3.jpg);
}
.browse-cities .city-4 {
    background-image: url(../img/sity-4.jpg);
}
.browse-cities .city-5 {
    background-image: url(../img/sity-5.jpg);
}
.browse-cities .info-bar {
    color: #fff;
    font-weight: 400;
    padding: 50px 20px 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(0,0,0,0.87718837535014) 0%, rgba(0,0,0,0.48783263305322133) 52%, rgba(0,0,0,0) 100%);
}
.browse-cities .info-bar h5{
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.browse-cities .city-name:hover h5{
    color: #5830e0;
}
.browse-cities .info-bar .city-icon-wrapp {
    width: 0px;
    height: 0px;
    background-color: transparent;
    border-radius: 50%;
    border: 4px solid #fff;
    font-size: 0px;
    transition: all 0.3s ease-out;
    opacity: 0;
}
.browse-cities .city-item:hover .city-icon-wrapp {
    width: 35px;
    height: 35px;
    font-size: 18px;
    opacity: 1;
}
.browse-cities .city-icon-wrapp:hover {
    color: #5830e0;
    border: 4px solid #5830e0;

}
/* -- ask-sell--*/
.ask-padding {
    padding: 150px 0;
}
.ask-sell {
    background-image: url(../img/cat-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    color: #fff;
    overflow: hidden;
}
.ask-sell::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #081828;
    opacity: 0.9;
    position: absolute;
    z-index: -1;
}
.ask-sell h2{
    color: #fff;
}
.post-ad:hover {
    background-color: #f9f9f9;
    color: #333;
}
/* -- trending--*/
.trending {
    background-color: #fff;
}
.trending .nav-tabs {
    border-bottom: 2px solid #eee;
    margin-bottom: 60px;
}
.trending .nav-link {
    font-size: 16px;
    font-weight:500;
    color: #081828;
    border:none;
    padding: 15px 40px;
    transition: all .4s ease;
}
.trending .nav-link:hover {
    color: #5830e0;
}
.trending .nav-link.active {
    color: #5830e0;
    border-bottom: 2px solid #5830e0;
}
.trending .card {
    background: #f7f7f770;
    transition: all 0.3s ease-out;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}
.trending .card:hover {
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}
.trending .top-wrapp {
    overflow: hidden;
}
.trending .top-part {
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 203px;
    transition: all 0.3s ease-out;
}
.trending .card .icon-flag {
    position: absolute;
    margin-left: 20px;
    width: 25px;
    height: 35px;
    background-color: #5830e0;
    left: 0;
    color: #f9f9f9;
    clip-path: polygon(0 0,53% 0,100% 0,100% 100%,50% 85%,0 100%);
}
.trending .card .sale {
    position: absolute;
    padding: 2px 8px;
    top: 15px;
    right: 15px;
    color: #f9f9f9;
    background-color: #dc3545;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 400;
}
.trending .bg-1 {
    background-image: url(../img/item-1.jpg);
}
.trending .bg-2 {
    background-image: url(../img/item-2.jpg);
}
.trending .bg-3 {
    background-image: url(../img/item-3.jpg);
}
.trending .bg-4 {
    background-image: url(../img/item-4.jpg);
}
.trending .bg-5 {
    background-image: url(../img/item-5.jpg);
}
.trending .bg-6 {
    background-image: url(../img/item-6.jpg);
}
.trending .bg-7 {
    background-image: url(../img/item-7.jpg);
}
.trending .bg-8 {
    background-image: url(../img/item-8.jpg);
}
.trending .card:hover .top-part {
    transform: scale(1.1);
}
.trending .card .card-body .card-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.trending .card .card-text {
    gap: 13px;
    padding: 15px 0;
    color: #5830e0;
    cursor: pointer;
}
.trending .card .card-text h6 {
    transition: all 0.3s ease-out;
}
.trending .card .icon-location-1 span{
    font-style: normal;
    font-size: 17px;
    font-weight: 400;
    color: #888;
    transition: all 0.3s ease-out;
}
.trending .card .card-text h6:hover, .trending .card .icon-location-1 span:hover, .trending .card .card-body .card-title:hover {
    color: #5830e0;
}
.trending .card .price-wrapp {
    padding-top: 5px;
    color: #5830e0;
    font-weight:bold;
    font-size: 17px;
}
.trending .card .price-wrapp .icon-wrapp {
    width: 35px;
    height: 35px;
    border: 1px solid #eee;
    border-radius: 50%;
    font-size: 15px;
    color: #888;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.trending .card .price-wrapp .icon-wrapp:hover {
    color: #f9f9f9;
    background-color: #5830e0;
}
/* -- pricing-plan--*/
.pricing-plan {
    background-color: #f9f9f9;
}
.pricing-plan .card {
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.pricing-plan .card::before {
    position: absolute;
    content: "";
    height: 300px;
    width: 300px;
    background: #5830e0;
    border-radius: 50%;
    left: -50px;
    top: -110px;
    z-index: -1;
}
.pricing-plan .card::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 300px;
    width: 300px;
    background: #5830e0;
    border-radius: 50%;
    left: -40px;
    top: -110px;
    opacity: .8;
    z-index: -1;
}
.pricing-plan .card-body {
    padding: 40px;
}
.pricing-plan .card-body h2 {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
}
.pricing-plan .card-body span {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.pricing-plan .card-body .price-type {
    padding-top: 13px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 5px;
}
.pricing-plan .card-body .list-group {
    padding: 80px 0 40px;
    gap: 12px;
}
.pricing-plan .card-body .list-group-item {
    border:none;
    font-size: 16px;
    color: #444;
    font-weight: 400;
}
/* -- reviews--*/
.reviews {
    background-color: #081828;
    color: #fff;
}
.reviews h2 {
    color: #fff;
}
.reviews .swiper-slide {
    background-color: #fff;
    color: #888;
    padding: 60px 40px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}
.reviews .swiper-slide .qutation {
    position: absolute;
    font-size: 80px;
    color: #cccccc3b;
    right: 30px;
    top: 10px;
}
.reviews .customer-item {
    gap: 20px;
}
.reviews .photo-wrapp {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid #ececec;
    transition: all 0.3s ease-in-out;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.reviews .cs-1 {
    background-image: url(../img/testi1.jpg);
}
.reviews .cs-2 {
    background-image: url(../img/testi2.jpg);
}
.reviews .cs-3 {
    background-image: url(../img/testi3.jpg);
}
.reviews .swiper-slide:hover .photo-wrapp {
    border: 5px solid #5830e0;
}
.reviews .name-position {
    font-size: 14px;
    font-weight: 400;
}
.swiper-pagination-bullet {
    height: 5px;
    width: 30px;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
    border: none;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.reviews .review-swiper-pagination {
    text-align: center;
    padding-top: 100px;
}
.swiper-pagination-bullet-active, .swiper-pagination-bullet:hover {
    background-color: #5830e0;;
}
/* -- how-it-works--*/
.how-it-works {
    background-color: #f9f9f9;
}
.how-it-works .hiw-item {
    padding: 40px;
    gap: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #eee;
    cursor: pointer;
    background-color: #fff;
}
.how-it-works .hiw-item .span-wrapp {
    width: 80px;
    height: 80px;
    border: 4px solid #b29cfb;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    background-color: #5830e0;
    transition: all 0.3s ease-in-out;
}
.how-it-works .hiw-item:hover .span-wrapp {
    background-color: #f9f9f9;
    color: #5830e0;
    border: 4px solid #5830e0;
}
.how-it-works .hiw-item p {
    font-weight: 400;
    font-size: 17px;
}
/* -- news--*/
.news .card {
    overflow: hidden;
    border-radius: 6px;
    position: relative;
}
.news .card .ref-wrapp{
    overflow: hidden;
}
.news .card .ref-item {
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 260px;
    transition: all 0.3s ease-out;
}
.news .card:hover .ref-item {
    transform: scale(1.1);
}
.news .card .bg-1 {
    background-image: url(../img/blog1.jpg);
}
.news .card .bg-2 {
    background-image: url(../img/blog2.jpg);
}
.news .card .bg-3 {
    background-image: url(../img/blog3.jpg);
}
.news .card .plus-v {
    height: 40px;
    width: 2px;
    background-color: #fff;
    position: absolute;
    left: calc(50% - 1px);
    opacity: 0;
    transition: all 0.3s ease-out;
}
.news .card .plus-h {
    height: 2px;
    width: 40px;
    background-color: #fff;
    position: absolute;
    top: 129px;
    transition: all 0.3s ease-out;
    opacity: 0;
}
.news .card:hover .plus-v {
    opacity: 1;
    transform: translateY(110px);
}
.news .card:hover .plus-h {
    opacity: 1;
    transform: translateX(187px);
}
.news .card .card-body {
    padding: 40px 30px 0;
}
.news .card .card-body h5 a {
    min-height: 48px;
    text-decoration: none;
    font-size: 20px;
    font-weight:bold;
    color: #081828;
    transition: all 0.3s ease-out;
    margin-bottom: 20px;
}
.news .card .card-body h5 a:hover {
    color: #5830e0;
}
.news .card .card-body p {
    font-size: 17px;
    font-weight:400;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.news .card .footer-card {
    gap: 10px;
    padding: 20px 30px 30px;
}
.news .card .footer-card a {
    font-size: 14px;
    color: #081828;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-out;
}
.news .card .footer-card a:hover {
    color: #5830e0;
}
.news .card .footer-card .point {
    background-color: #5830e0;
    height: 6px;
    width: 6px;
    border-radius: 50%;
}
/* -- newsletter--*/
.newsletter {
    background-color:#5830e0;;
    background-image: url(../img/newsletter-bg.png);
    color: #fff;
}
.nletter-row-padding{
    padding: 80px 0;
}
.newsletter .title-col {
    gap: 20px;
    min-height: 65px;
}
.newsletter .title-col .icon-wrapp {
    width: 60px;
    height: 60px;
    background-color: #f9f9f9;
    border-radius: 50%;
    font-size: 25px;
    color: #5830e0;;
}
.newsletter .title-col h2{
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}
.newsletter .title-col p{
    font-size: 16px;
    font-weight: 400;
}
.newsletter .subscribe-form {
    min-height: 65px;
}
.newsletter .subscribe-form form{
    width: 100%;
}
.newsletter .subscribe-form .form-control {
    background-color: transparent;
    border: 2px solid #fff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: initial;
    border-bottom-right-radius: initial;
    color: #fff;
    padding: 0 20px;
}
.newsletter .subscribe-form .form-control::placeholder {
    color: #fff;
}
.newsletter .subscribe-form .btn-primary {
    background-color: #f9f9f9;
    color: #5830e0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: initial;
    border-bottom-left-radius: initial;
    transition: all 0.3s ease-out;
}
.newsletter .subscribe-form .btn-primary:hover {
    color: #081828;
}



@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .news .card:hover .plus-h {
        transform: translateX(157px);
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .dropdown-item {
        min-width: 180px;
    }
    .news .card:hover .plus-h {
        transform: translateX(127px);
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .navbar-brand img{
        padding: 20px 0;
    }
    .dropdown-menu {
        display: none;
        opacity: 1;
        visibility: visible;
        border: none;
    }
    .multi-block {
        display: none;
    }
    .navbar-light .navbar-nav .nav-link:hover::before{
        width: 0%;
    }
    .navbar-nav {
        overflow-y: scroll;
        max-height: 500px;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 12px 30px;
    }
    .navbar-nav {
        gap: 0px;
    }
    .navbar-collapse {
        padding-right: 20px;
        padding-top: 10px;
        border-top: 1px solid #eee;
    }
    .news .card:hover .plus-h {
        transform: translateX(327px);
    }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .navbar-brand img{
        padding: 20px 0;
    }
    .dropdown-menu {
        display: none;
        opacity: 1;
        visibility: visible;
        border: none;
    }
    .multi-block {
        display: none;
    }
    .navbar-light .navbar-nav .nav-link:hover::before{
        width: 0%;
    }
    .navbar-nav {
        overflow-y: scroll;
        max-height: 500px;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 12px 30px;
    }
    .navbar-nav {
        gap: 0px;
    }
    .header-button {
        display: none;
    }
    .header .login-references {
        display: none;
        margin: 0 auto;
    }
    .navbar-collapse {
        padding-right: 20px;
        padding-top: 10px;
        border-top: 1px solid #eee;
    }
    .welcome .search-bar .form-item {
        padding: 5px 0px;
    }
    .welcome .container {
        padding-top: 250px;
        padding-bottom: 250px;
    }
    .footer-item, .column-item{
        align-items: center;
    }
    .footer h3 {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    .news .card:hover .plus-h {
        transform: translateX(237px);
    }
    .newsletter .subscribe-form .form-control {

        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        height: 54px;
    }
    .newsletter .subscribe-form .btn-primary {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        height: 54px;
    }
}
@media only screen and (max-width: 575px) {
    .product-category .wrapper {
        left:0%;
        transform: translate(0, -50%);
        width: 100%;  
    }
    .navbar-brand img{
        padding: 20px 0;
    }
    .dropdown-menu {
        display: none;
        opacity: 1;
        visibility: visible;
        border: none;
    }
    .multi-block {
        display: none;
    }
    .navbar-light .navbar-nav .nav-link:hover::before{
        width: 0%;
    }
    .navbar-nav {
        overflow-y: scroll;
        max-height: 400px;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 12px 30px;
    }
    .header {
        padding: 0 20px;
        width: 100%;
    }
    .navbar-nav {
        gap: 0px;
    }
    .header-button {
        display: none;
    }
    .header .login-references {
        display: none;
    }
    .navbar .container {
        padding: 0;
    }
    .navbar-collapse {
        padding-right: 20px;
        padding-top: 10px;
        border-top: 1px solid #eee;
    }
    .welcome .search-bar .form-item {
        padding: 5px 0px;
    }
    .welcome .container {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .footer-item, .column-item{
        align-items: center;
    }
    .footer h3 {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    .news .card:hover .plus-h {
        transform: none;
        opacity: 0;
    }
    .news .card:hover .plus-v {
        transform: none;
        opacity: 0;
    }
    .newsletter .subscribe-form .form-control {

        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        height: 54px;
    }
    .newsletter .subscribe-form .btn-primary {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        height: 54px;
    }
}