<template>
  <div id="app" class="container">
    <div class="column">
      <Header/>
      <TaskList
        :tasks="taskArray"
        @delete-task="deleteTask"
        @change-completed="upDateLocalStorage"
      />
      <AddTaskForm @add-new-task="addNewTask"/>
    </div>
  </div>
</template>

<script>
  import Header from './components/Header.vue';
  import TaskList from './components/TaskList.vue';
  import AddTaskForm from './components/AddTaskForm.vue';

  export default {
    name:'App',

    components: {
      Header,
      TaskList,
      AddTaskForm
    },

    data () {
      return {
        taskArray: [],
        lStorageKey: 'taskArray',
      }
    },

    created () {
      if (this.parsedDataFromLStorage.length > 0) {
        this.taskArray = this.parsedDataFromLStorage;
      }
    },

    methods: {
      deleteTask (index) {
        this.taskArray.splice(index, 1);
        this.upDateLocalStorage()
      },
      addNewTask (newTask) {
        this.taskArray.push(newTask);
        this.upDateLocalStorage()
      },
      upDateLocalStorage () {
        this.stringifiedDataForOfLStorage    
      },
    },
    
    computed: {
      parsedDataFromLStorage () {
        return JSON.parse(localStorage.getItem(this.lStorageKey));
      },
      stringifiedDataForOfLStorage () {
        return localStorage.setItem(this.lStorageKey, JSON.stringify (this.taskArray));
      },
    }
  }
</script>

<style>
  .container {
    width: 900px;
    margin: 50px auto 0;
    background-image: url(components/img/bg-note.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .column {
    width: 450px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
</style>
