<template>
  <div
    class="current-estate"
    :style="{'background-image': !estate.id ? 'white' :`url('${require(`@/assets/img/${estate.image}`)}')`}"
  >
    <div class="container">
      <div class="image-row">
        <div
        class="estate-wrap"
        v-for="imageItem in estate.interior"
        :key="imageItem.id"
      >
        <div
          class="estate-block"
          :style="{'background-image': `url('${require(`@/assets/img/${imageItem.image}`)}')`}"  
        >
        </div>
        </div>
      </div>
      <div class="info">
        <span>
          {{estate.price}}
        </span>
        <span>
          Ukraine, {{estate.location}}, {{estate.address}}
        </span>
        <span>
          {{estate.area}} m2
        </span>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from "../../axios-requests/axios.js"

  export default {
    data() {
      return {
        estate: {}
      }
    },

    methods:{
      goBack () {
        return this.$router.go(-1)
      }
    },

    created () {
      axios.getList(`estates/${this.$route.params.id}`)
      .then(response => this.estate = response.data)
      .catch (error => {
      if (error.status === 404) {
        this.$router.push('/404')
      } else {
        console.log(`Error has been declared ${error}`)
      }
      })
    }
  }
</script>