<template>
<div class="input-block">
  <div class="form-block">
    <input 
      type="text"
      class="to-do-input"
      v-model="inputValue"
      name="description"
      placeholder="Write your to-do item"
    >
    <button 
      class="btn"
      @click="addNewTask"
    >
      SAVE TO-DO ITEM
    </button>
  </div>
  <ErrorBlock :message="errorMessage"/>
</div>
</template>

<script>
import ErrorBlock from './ErrorBlock.vue';

  export default {
    name: 'AddTaskForm',

    components: {
      ErrorBlock
    },
    
    data () {
      return {
        inputValue: '',
        errorMessage: ''
      }
    },

    methods: {
      addNewTask () {
        if (this.inputValue) {
          const newTask = {
            description: this.inputValue,
            completed: false
          };
          this.$emit('add-new-task', newTask);
          this.inputValue = '';
        } else if (!this.inputValue) {
            this.errorMessage = 'The input field is empty...';
        }
      }
    },

    computed: {
      getNewId () {
        return this.length + 1;
      }
    },
    
    watch: {
      inputValue (newValue) {
        if (newValue) {
          this.errorMessage = ''
        }
      }
    }
  }
</script>

<style scoped>

  .input-block {
    width: 100%;
  }
  .form-block {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .to-do-input {
    height: 30px;
    width: 100%;
  }

  .btn {
    background-color: darkslategrey;
    color: white;
    cursor: pointer;
  }
</style>