<template>
  <div class="error-block">
    <span class="error-text">
      {{message}}
    </span>
  </div>
</template>

<script>
  export default {
      name: 'ErrorBlock',

      props: {
        message: String
      },
  }
</script>

<style scoped>
  .error-block {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color:red;
      font-size: 18px;
  }

  .error-text {
      display: block;
  }
</style>