<template>
  <div class="to-do-list">
    <div v-if="taskArrayLength">
      <TaskItem
        :task="task"
        :index="index"
        v-for="(task, index) in tasks"
        :key="task.id"
        @delete-task="$emit('delete-task', index)"
        @change-completed="$emit('change-completed')"
      />
    </div>
    <div class="empty-list" v-else>
      <span>The "To do list" is empty</span>
    </div>
  </div>
</template>

<script>
import TaskItem from './TaskItem.vue';

export default {
  name: 'TaskList',

  components: {
    TaskItem
  },
  
  props:{
    tasks: Array
  },

  computed: {
    taskArrayLength () {
      return this.tasks.length
    }
  }
}
</script>

<style scoped>
  .to-do-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:transparent;
    box-sizing: border-box;
    padding: 50px 0;
  }

  .empty-list {
    width: 100%;
    font-size: 34px;
    font-weight: bold;
    color: red;
    text-align: center;

  }
</style>
