<template>
  <div class="to-do-item">
    <span :class="[{'text-task':!task.completed }, {'completed': task.completed}]">
      {{task.description}}
    </span>
    <input
      type="checkbox"
      @change="toggleComplete"
      :checked="(task.completed)"
    >
    <button @click="$emit('delete-task', index)">
      Delete
    </button>
  </div>
</template>

<script>
  export default {
    name: 'TaskItem',

    props:{
      task: Object,
      index: Number
    },
    
    methods: {
      toggleComplete () {
        this.task.completed = !this.task.completed;
        this.$emit('change-completed');
      }
    }
  }
</script>

<style scoped>
  .to-do-item {
    padding-bottom: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .completed {
    display: block;
    width: 300px;
    height: 30px;
    background-color:aquamarine;
    text-decoration: line-through;
    border: 3px solid black;

  }
  .text-task {
    display: block;
    width: 300px;
    height: 30px;
    background-color: transparent;
    border: 3px solid black;
  }

  button {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

    button:hover {
    background-color: darkred;
  }

  input {
    cursor: pointer;
  }
</style>