<template>
  <div class="contact-info">
    <div class="info-item">
      <span>
        Call:
      </span>
      <span>
          Tel. +(123) 1800-567-8990;
      </span>
    </div>
            <div class="info-item">
      <span>
        Email:
      </span>
      <span>
          your.mail@domains.com;
      </span>
    </div>
            <div class="info-item">
      <span>
        Address:
      </span>
      <span>
          Adress streets City
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContactInfo'
}
</script>