<template>
  <div class="form">
    <label for="nameInput">
      Enter your full name:
    </label>
    <input type="text" id="nameInput" placeholder="John Smith">
    <label for="emailInput">
      Enter your email address:
    </label>
    <input type="email" id="emailInput" placeholder="your-email@com">
    <label for="messageInput">
      Enter your message:
    </label>
    <input type="text" id="messageInput" placeholder="Here is going to be your message">
    <button type="submit">
      Send
    </button>
  </div>
</template>

<script>
export default {
  name: 'Form'
}
</script>