<template>
  <div class="contacts-section">
    <div class="container">
      <h1>
        CONTACT US
      </h1>
      <Form />
      <ContactInfo />
    </div>
  </div>
</template>

<script>
  import Form from '../../components/contacts/Form.vue'
  import ContactInfo from '../../components/contacts/ContactInfo.vue'

  export default {
    components: {
      Form,
      ContactInfo
    }
  }
</script>