
.icon-phone:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-behance:before { content: '\f34e'; } /* '' */
