body {
    max-width: 100%;
    margin: 0 auto;
    font-family: "Quicksand";
}
.mein-h2 {
    font-family: "Dynalight";
    font-size: 50px;
    color:white;
}
.mein-h3 {
    max-width: 400px;
    font-size: 15px;
    font-weight: 500;
    color:black;
}
.mein-p {
    font-size: 15px;
    line-height: 1.5;
    padding: 0 20px;
    color: white;
    padding: 35px 0 0;
    max-width: 450px;
}
.mein-references {
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.chapter-wrapp  {
    padding: 70px 0;
}
.underline {
    width: 70px;
    height: 2px;
    border-radius: 1px;
    background-color: hsl(0deg 70% 40%);
    margin-top: 15px;
}
.header {
    width: 100%;
    box-shadow: inset 0 60px 20px rgba(0, 0, 0, 0.8);
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}
.header .references-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.header .mein-references {
    font-weight: 500;
}
.header a:first-child{
    font-size: 20px;
}
.header .references-row a:first-child{
    font-size: 15px;
}
.mein-content {
    color: white;
    background-image: url(../img/burgery-gamburgery-fastfud.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 200px 0;
}
.mein-content h1{
    font-size: 50px;
    padding-bottom: 50px;
}
.mein-content p {
    max-width: 640px;
    padding: 0;
}
.our-story {
    background-color: hsl(0deg 70% 40%);
}
.our-story .container{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 0 20px;
    margin: 0 auto;
}
.our-story .img-wrapp {
    width: 300px;
    height: 300px;
    background-image: url(../img/burger.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    cursor: pointer; 
    margin: 0 auto;
}
.story-wrapp {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.story-wrapp  .underline {
    background-color: white;
}
.recipes {
    background-image: url(../img/sendvich.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.recipes-wrapp{
    box-shadow: inset 30vw 0 200px 140px rgb(44, 43, 43);
}
.recipes .container{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.food-menu {
    background-color: #f2f4f8;
}
.food-menu .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.food-menu .mein-h2 {
    color:black;
}
.food-menu .underline {
    background-color: hsl(0deg 70% 40%);
}
.menu-column {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin:0 auto;
    column-gap: 80px;
    row-gap: 50px;
    padding: 0 20px;
}
.menu-column .wrapp {
    max-width: 450px;
}
.menu-column .wrapp div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-column p {
    line-height: 1.2;
    color:rgb(60, 60, 60);
}
.menu-column span {
    font-size: 15px;
    font-weight: 500;
    color:red;
}
.food-pictures {
    width: 100%;
    display: flex;
    overflow-x: auto;
}
.food-pictures .img-wrapp{
    width: 300px;
    height: 300px;
    flex: 0 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.food-pictures .img-wrapp:first-child {
    background-image: url(../img/burger.jpg);
}
.food-pictures .img-wrapp:nth-child(2) {
    background-image: url(../img/fish-and-chips.jpg);
}
.food-pictures .img-wrapp:nth-child(3) {
    background-image: url(../img/hod-dog.jpeg);
}
.food-pictures .img-wrapp:nth-child(4) {
    background-image: url(../img/kartoshka-fri.jpg);
}
.food-pictures .img-wrapp:nth-child(5) {
    background-image: url(../img/panini.jpg);
}
.food-pictures .img-wrapp:nth-child(6) {
    background-image: url(../img/poutine.jpg);
}
.food-pictures .img-wrapp:nth-child(7) {
    background-image: url(../img/sendvich.jpg);
}
.food-pictures .img-wrapp:nth-child(8) {
    background-image: url(../img/shaurma.jpg);
}
.food-pictures .img-wrapp:last-child {
    background-image: url(../img/taco.jpg);
}
.site-features {
    background-color: hsl(220deg 9% 13%);
}
.site-features .wrapp{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin:0 auto;
    padding: 0 20px;
    color: white;
    column-gap: 20px;
    row-gap: 30px;
}
.site-features .wrapp h4{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 30px;
}
.site-features .wrapp h5{
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 30px;
}
.site-features .wrapp p{
    padding: 0;
}
.site-features .feature{
    max-width: 240px;
    margin: 0 auto;
}
.site-features .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-icons{
    color: hsl(0deg 70% 40%);
}
.contact-icons span{
    color: white;
    padding-left: 20px;
}
.footer {
    background-color: hsl(220deg 18% 7%);
}
.footer .container{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin:0 auto;
    padding: 0 20px;
    gap: 20px;
}
.footer .mein-references {
    font-size: 16px;
    font-weight: bold;
    color:rgb(80, 80, 80);
    margin:0 auto;
}
.footer .references-row {
    display: flex;
    gap: 15px;
    margin:0 auto;
}
.social-icons {
    display: flex;
    gap: 10px;
    margin:0 auto;
}
.social-icons a{
    color:rgb(80, 80, 80);
    font-size: 20px;
}
.social-icons a:first-child {
    color:white;
}
@media (max-width:600px) {
    .header {
        flex-direction: column;
        gap: 10px;
        background-color:  rgba(0, 0, 0, 0.8);
        box-shadow: none;
    }
    .header .references-row {
        justify-content: space-around;
        gap: 20px;
    }
    .mein-content h1{
        font-size: 30px;
    }
    .mein-content p {
        max-width: 100%;
        padding: 0 15px;
    }
    .recipes p{
        max-width: 100%;
        padding: 0 15px;
    }
    .mein-h2 {
        font-size: 30px;
    }
    .underline {
        width: 50px;
    }
    .mein-p {
        max-width: 100%;
    }
    .menu-column {
        max-width: 100%;
        padding: 0 15px;
    }
    .mein-h3 {
        font-size: 12px;
        font-weight: bold;
    }
    .food-menu .container{
        padding-bottom: 50px;
    }
    .menu-column span {
        font-size: 12px;
    }
    .food-menu .mein-p {
        font-size: 12px;
    }
    .site-features .wrapp{
        max-width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 0 15px;
        row-gap: 45px;
    }
    .site-features .container{
        gap: 15px;
    }
    .site-features .container:last-child{
        text-align: left;
    }
}